.admin-tabs
  padding-top : 20px
  .tab-content
    padding-top: 20px

input.banner-picture
  float:left;

.upload-banner-image
  margin-top:20px;
  margin-bottom:20px;
  input
    margin-left:20px;

.banner-list
  font-size : 16px
  list-style : none
  margin-right : (8/3)%
  margin-bottom : 30px;
  box-sizing border-box
  padding : 5px 5px 15px 5px
  border : 1px solid $group-landing-border
  background-color : $whitish-grey
  a
    display:block
  img
    display:block
    width : 745px
    height : 126px
    box-shadow : -1px 1px 1px 1px #ddd
    margin : 15px
    margin-left : 0px

.change-banner-link
  display: inline-block;
  margin-top: 40px;
  color: #db282f;

.section-management
  padding-left: 20px
