/****************** New Article ***************/
.create-an-article
  .form-group
    margin : 20px 0px
  .form-control
    &.height-auto
      height : auto
  .decipher-tags
    margin : 0px
    border : 0
    padding : 0
    .container-fluid
      padding : 0
      display : inline-block
  .content-inner
    padding : 10px
    background : $whitish-grey
    border : 1px solid $grey-border
    border-radius 4px
  .submit-button
    background : $whitish-grey
  #taTextElement
    margin-top : 10px
/************** Article Listing **************/
.recent-article-title
  text-transform: uppercase;
  font-weight: bold;
  font-family: initial;
  color: #db282f;
  padding: 3px 5px 10px 40px;
  background: #fff url("../../img/articles/mg-glass.png") 2px 0px no-repeat;

.post-article-listing
  .article-wrapper
    margin: 10px 0px
    padding : 0px 0px 0px 100px
    width : 75%
    background: #e1e1e1 url(../../img/icons/document-black.png) 30px 50% no-repeat;
    background-size : 30px
    .article-content-main
      background : $comment-grey-bg
      padding-left: 10px
    .read-more
      display : block
      background : $comment-grey-bg
      padding-left : 10px
      a
        font-size : 13px
        color : $red
        text-decoration : none
  .article-title
    padding : 10px 0px 10px 10px
    color : $red
    background : $comment-grey-bg
    margin : 0
    a
      color : $grey-bg
      text-decoration : none
      &:hover
        color : $red
    a.link
      color : $red
  .date-created,
  .author-created
    color : $grey-header
    font-style : italic


.article-listing
  padding-top: 20px
  .well
    padding: 0
    margin-bottom: 20px
    background-color: $white
    border: 1px solid #e3e3e3
    border-radius: 0
    -webkit-box-shadow: none
    box-shadow: none
  .articles
    padding-top: 20px
  .article-info-container
    .date-image
      width: 80px
      float: left
      padding-right: 20px
      img
        width: 100%
        height: auto
      .date-created
        background: $red
        color: $white
        margin-bottom: 10px
        text-transform: uppercase
        padding:4px
        .field-content-p1
          font-size: 15px
        .field-content-p2
          font-size: 12px
    .title-container
      margin-left: 80px
      padding: 15px 0
      min-height: 118px;
      h2
        margin-top: 0
        font-size: 20px
        color: $red
        font-weight: 100
        text-decoration: none
        a
          color: $red
          font-weight: 100
        &:hover
          text-decoration: none
      .tags-container
        span
          color: #428bca
          display: inline-block
          padding: 0 5px
  .article-content-container
    clear: both
    padding: 15px
    border-top: 1px solid #e3e3e3
    a
      color: $red
      font-weight: 100


.article-detail
  .recent-article-title
    padding: 12px 5px 12px 40px;
    background: #fff url("../../img/articles/articles-icon.png") 2px 0px no-repeat;
  .articles
    padding-top: 0
    border: 1px solid #ccc
    margin-top: 10px
  .article-content
    clear: both
    border-top: 1px solid #ccc
    padding: 15px
  .post-like
    padding: 15px
  .article-comment
    margin:15px
    padding: 10px
    border: 1px solid #ccc
    .comment-author
      a
        text-transform: capitalize
    .comment
      clear: both
      margin: 5px 0
      padding: 5px 0
      border-bottom: 1px solid #ccc
      min-height: 70px;
    .form-horizontal
      clear: both
      margin: 5px 0
      padding: 10px 0
      min-height: 70px;
    .post-image
      width: 50px
      float: left
      margin-right: 20px
      img
        width: 100%
        height: auto
