.content {
    min-height:700px;
}

footer {
    left:0px;
    bottom:0px;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

html,
body,
.container {
  font-family: Trebuchet MS,sans-serif;
  font-size: 13px;
  height: 100%;
}
