/************************ GROUP LANDING ***************************/
.group-landing
  a
    text-decoration : none
    color : $black
  &.left-side
    .groups-detail
      background-color : #787878
      padding: 15px
      color : #aba9a6
      font-size : 90%
      @media $wide-down
        padding : 10px
      .title
        color : #fff
        font-weight : bold
        font-size : 100%
        @media $desk-down
          font-size : 150%
      .group-admin,
      .group-about
        margin-bottom : 10px
        @media $wide-down
          text-align : center
        @media $desk-down
          text-align : center
          margin-bottom : 15px
      .group-admin
        @media $wide-down
          span,
          label
            width : 100%
            padding : 0
            text-align : center
          .admin
            padding : 4px 0px
            display : inline-block
            width : 100%
        @media $desk-down
          span
            width : 50%
            text-align : left
          label
            width : 50%
            text-align : right
        @media $tab-down
          span,
          label
            width : 100%
            padding : 0
            text-align : center
          .admin
            padding : 4px 0px
            display : inline-block
            width : 100%
      .group-member
        @media $wide-down
          text-align : center
      .group-image
        min-height : 140px
        max-height : 200px
        position: relative
        margin : 5px auto 10px auto
        display : table
        .image-wrapper
          display : table-cell
          vertical-align : middle
          background : $grey-border
          box-shadow 0px 0px 2px $white
          text-align : center
          @media $desk-down
            min-width : 200px
          img
            w-h auto auto
            max-width : 100%
            max-height : 200px
      .group-meta
        width : 100%
        absolute 20% initial initial 0px
        .group-meta-inner
          background-color: rgba(242, 242, 242, 0.7);
          text-align: center
          padding : 5px
          width : 100%
          max-width :180px
          margin : 0px  auto
          @media $wide-down
            width : 130px
          @media $desk-down
            width : 200px
        .group-name
          font-size : 150%
          font-weight:bold
          color:#000
        .group-type
          font-size : 80%
          font-weight:bold
          color:#000
        .group-member
          font-size : 70%
      .col-md-3
        width : 25%
        float : left
        clear : both
        padding-left : 0px
        display : inline-block
      .col-md-9
        width :75%
        float : left
        display : inline-block
        color : #ffffff
      .group-created
        clear : both
      .group-member-icon
        padding-bottom : 15px
        a
          padding : 0px
          margin : 0px
        img
          height : 52px
          width : 52px
      a
        display : inline-block
        background-color : #80c963
        padding : 5px 20px
        margin : 5px
    .create-a-group
      text-align : center
      margin : 40px 0px
      a
        display : inline-block
        padding : 20px 25px
        text-transform : uppercase
        border : 1px solid $group-left-grey-text
        color : $group-left-grey-text
        font-size  : 12px

  &.main-content
    .group-category
      ul
        margin : 10px 0px
        padding : 0
        border-bottom : 2px solid $dark-red
        li
          list-style : none
          display : inline-block
          padding : 5px 10px
          font-weight : bold
          @media $mob-down
            padding : 5px 3px
          &:first-child
            padding-left : 0px;
          a
            color : $grey-header
            cursor : pointer
            &.active
              color : $dark-red
    .groups-listing
      display : inline
      margin : 0
      padding : 0
    .group-items
      width : 23%
      float : left
      font-size : 16px
      list-style : none
      margin-right : (8/3)%
      margin-bottom : 30px;
      box-sizing border-box
      border : 1px solid $group-landing-border
      background-color : $whitish-grey
      cursor : pointer
      @media $wide-down
        width : 32%
        margin-right : 2%
      @media $tab-down
        width : 48%
        margin-right : 4%
      @media $mob-down
        width : 100%
      &:nth-child(4n)
        margin-right : 0px
        @media $wide-down
          margin-right : 2%
        @media $tab-down
          margin-right : 4%
        @media $mob-down
          margin-right : 0px
      &:nth-child(3n)
        @media $wide-down
          margin-right : 0px
        @media $tab-down
          margin-right : 4%
        @media $mob-down
          margin-right : 0px
      &:nth-child(2n)
        @media $tab-down
          margin-right : 0px
      .group-item-inner
        display : inline-block
        width : 100%
        padding : 10px 10px 15px 10px
      &.selected
        .group-item-inner
          border : 2px solid $dark-red
          height : 205px
      img
        height: auto;
        max-height: 120px;
        width: auto;
        max-width: 100%;
      .group-name
        margin : 7px 0px 15px 0px
        text-align : center
        line-height : 1
        a
          color : $group-right-item-grey-text
      .group-image
        height: 120px
        display: table
        width: 100%
        overflow : hidden
        background : $white url(../../img/icons/image-bg.gif)
        & > a
          display: table-cell
          vertical-align: middle
          text-align : center
      .group-member
        float : left
        margin-left : 10px
        padding-left : 22px
        background : url(../../img/icons/groups-grey.png) top left no-repeat
        background-size : 18px
        color : $group-member

.group-cover-image
  img
    w-h 100% auto
    max-height: 310px
.post-like, .comment-like
  a
    color : #b0aeaf
    text-decoration: none;
  a.btn
    padding : 0
    i
      height : 21px
      width : 21px
.group-detail-banner
  position: relative;
  .group-banner-overlay
    absolute initial initial 50px 0px
    text-align : center
    w-h 100% auto
    @media $mob-down
      absolute initial initial 10px 0px
    .group-banner-overlay-inner
      background : rgba(255,255,255,0.8)
      display : inline-block
      padding : 10px 15px
      width : 310px
      text-align : center
      @media $mob-down
        width : 200px
        padding : 5px 10px
    .group-name
      h3
        margin-top : 5px
        margin-bottom : 5px
        @media $mob-down
          font-size : 1.2
    .group-member-count
      color : $wall-post-sp-text
      @media $mob-down
        font-size : 0.8em
    .joining-group
      a
        background : $green-bg
        color : $black
        text-decoration : none
        display : inline-block
        padding : 10px 5px
        width : 150px
        margin : 5px 0px
        border : 1px solid $green-border
        @mob-down
          font-size : 0.8em
          width : 100px
.group-left-item-containers
  display : inline-block
  width : 100%
.group-member
  ul
    padding : 0
    li
      list-style : none
      float : left
      w-h 40px 40px
      img
        w-h 100% auto
.add-groups
  .checkbox
    padding : 0
    label
      display : block
      font-weight : bold
    input
      margin-right : 10px
  input[type=submit]
    margin : 10px 0px 0px -15px
