.header-day,.header-date
  color: $red
.row
  margin : 0
i.glyphicon
  cursor:pointer
textarea
  resize : none

.left-inner-addon
  position: relative

.left-inner-addon input
  padding-left: 20px

.left-inner-addon i
  absolute
  padding: 12px 12px
  pointer-events: none

.content-wrapper
  min-height: 600px

.left-header.col-md-8
  background-color: $bright-red
  color: $light-pink-bg
  font-size: 15px
  padding-right: 0

.left-header.col-md-8  a
  color: $header-peach-color
  font-size:15px
  @media $desk-down
    padding : 32px 10px 0px 10px

.left-header.col-md-8 .navbar-nav a
  color: $header-peach-color

.container .left-header .col-md-4
  background-color: $grey-bg

.col-md-4 .visible-lg .dropdown a
  color: $white

.col-md-2 .clearfix .col-md-6,.col-md-2 .clearfix .col-md-12
  background-size:100%

.col-md-2 .clearfix .col-md-12
  margin-left: 5px
  min-height: 94

.col-md-2 .clearfix
  min-height: 94px
  margin-top:-3px

.navbar
  border : 0
  margin-bottom: 8px
  border-radius 0px
  @media $desk-down
    background-color : $red
  background-color:$grey-bg
  &> .container
    .navbar-brand
      @media $tab-up
        margin-left : 0px
      height : auto
  .container
    position : relative
    &:before
      content : ""
      w-h 100% 150px
      absolute initial,initial,0px,-50%
      background-color : $bright-red
      @media $desk-down
        background-color : transparent;
.col-md-4
  .row
    margin:2px 0px 0px -7px

.header-wrapper
  @media $tab-down
    overflow : hidden
    height : 50px
    margin-bottom : 20px
    &.drop-it-down
      height : auto
      margin-bottom : 0px


.right-header
  .navbar-nav
    margin-top:10px
    w-h 100%
    li:first-child
    float:left
    li:last-child
      float:right
        text-align:right
      .ng-binding
        w-h 100%
        text-transform: uppercase

.bottom-container
  background-color: $grey-bg
  .container
    color: white
    word-spacing: 5px
    line-height: 33px
    font-size: 14px
    padding: 0px 30px


.bottom-container
  .container
    .locations
      margin-top:22px

.bottom-container
  .container
    .copyright-info
      margin-bottom:22px

.left-header
  @media $desk-down
    text-align : center
  &.col-md-8
    font-size : 13px
    @media $desk-down
      padding : 0
    .navbar-nav
      @media $desk-down
        float : none
        display : inline-block
        w-h 100%
        box-sizing border-box
      @media $tab-down
        margin : 0
        padding : 0px 10px
      li
        @media $tab-down
          width : 100%
          text-align : left
        a
          @media $tab-down
            display : inline-block
            padding : 8px 10px 8px 30px
            margin : 0px
            width : 100%
            box-sizing border-box
        for child in (2 home 2) (3 editage 2) (4 document 0) (5 groups 3) (6 moreapp 5) (7 notification 2) (8 signout 4)
          &.ico-items
            &:nth-child(2)
              & > a
                margin-left : 0px
                @media $desk-down
                  margin-left : 15px
                @media $tab-down
                  margin-left : 0px
            @media $tab-down
              border-bottom : 1px solid $red-border
            &:nth-child({child[0]})
              & > a
                padding: 32px 0px 0px 0px
                margin: 10px 15px 5px 15px
                background unquote('url(../../img/icons/'+child[1]+'-white.png) 50% '+child[2]+'px no-repeat')
                &:hover
                  background unquote('url(../../img/icons/'+child[1]+'-black.png) 50% '+child[2]+'px no-repeat')
                @media $desk-down
                  padding : 32px 0px 0px 0px
                  margin: 10px 15px 5px 15px
                @media $tab-down
                  background : url(../../img/icons/mobile-bullets-arrow.png) center left no-repeat
                  background-size : 20px
                  padding: 4px 0px 4px 30px
                  margin : 10px 0px 5px 0px
            .dropdown-menu
                background : $red
                li
                  a
                    color : $white
                    &:hover
                      background : $grey-bg
                      color : $white
              @media $tab-down
                margin-left : 20px
                a
                  padding: 3px 0px 3px 25px
                  background : url(../../img/icons/mobile-bullets-arrow.png) center left no-repeat
                  background-size : 16px
                  color : $white
                .divider
                  margin : 3px 0px;
                  background-color : $red-border

.right-header
  .navbar-nav
      > li:nth-child(2)
        & >a
          background: url(../../img/icons/edit-white.png) top center no-repeat
      > .open
        > a:hover
          background-color : transparent
          color : transparent


ul.dropdown-menu
  z-index:9999
.fileUpload
  overflow:hidden
  position:relative
  background-color: $grey-border
  max-height:120px
  max-width:120px

input.profile-picture
  z-index: 999
  line-height: 0
  font-size: 50px
  absolute -2px,initial,initial,-700px
  opacity 0
  cursor: pointer
  _cursor: hand
  margin: 0
  padding:0
  w-h auto 120px

li.dropdown a.header-user
  padding:0px
  &.tab-show
    @media $desk-down
      padding :10px
      w-h auto auto
    @media $tab-down
      padding : 0
      float : left
      z-index : 1
      position: relative
  .user-profile-picture-header
    img
      w-h: 100%
    border: 2px solid $bright-red
    border-radius(66px)
    display: inline-block
    w-h 50px 50px
    overflow:hidden
    float:left
    @media $tab-down
      w-h 40px 40px
      margin-top : 5px
  .user-name
    padding-left:10px
    color : $white
    &:hover
      color : $grey
.content-region
  ul
    padding-left:0
    list-style:none
  .block-title
    position: relative
    font-size : 12px
    .recent-happening-title
      text-transform: uppercase
      font-weight: bold
      font-family: initial
      color: $red
      padding: 3px 5px 3px 30px
      background: $white url(../../img/icons/clock_icon.png) 2px 0px no-repeat
  .title-drop-button
    margin: 0 50px 0 0px
    font-weight: bold
    background: $white url(../../img/icons/down_tri_ico.png) 56px 7px no-repeat
    padding: 0px 20px 0px 5px
    float:right
  .title-pin-drop-button
    margin: 0 50px 0 0px
    font-weight: bold
    background: $white url(../../img/icons/down_tri_ico.png) 64px 6px no-repeat
    padding: 0px 20px 0px 5px
    float:right  
  .title-drop-button:after
    content: ""
    background: url(../../img/icons/down-arrow.png) no-repeat top right
    w-h 15px 10px
    display: inline-block
    absolute 25%,initial,initial,initial
  .line-holder
    display: block
    absolute 50% , initial , initial , initial
    w-h 100% 1px
    background: $red
    z-index: -50


ul.posts
  clear: both
  li.ng-scope
    border: 1px solid $posts-grey-border
    background: $whitish-grey
    margin-top: 15px
    padding-bottom : 15px
    position: relative
    @media $tab-down
      padding-left : 100px
    @media $mob-down
      padding-left  60px
  .wall-post
    color: $wall-post-sp-text
    font-weight: normal
    font-size: 14px
    .posted-to
      font-size: 14px
      color: $red
  .author-name
    text-transform: capitalize
  .post-date
    w-h 80px
    text-align: center
    text-transform: uppercase
    font-weight: bold
    color: $white
    background: $red
    padding: 4px 10px
    line-height: 16px
    display: inline-block
    float : left
    margin: 0px 10px 10px 0px;
    @media $tab-down
      absolute 0px initial initial 0px
    @media $mob-down
      w-h 50px
      text-align : center
    .hh-mm
      font-size: 14px
  .post-image
    margin:10px 20px 10px 0
    &.post-image-main
      @media $tab-down
        absolute 41px initial initial 0px
      @media $mob-down
        absolute 74px initial intial 0px
    img
      w-h 80px
      float: left
      border: 1px solid $black
      margin-right:10px
      @media $mob-down
        w-h : 50px
  .post-author
    color: $red
  .message
    display:table
    w-h 100%
    padding-right : 10px
    @media $tab-up
      w-h 598px
    @media $desk-up
      w-h 504px
    @media $wide-up
      w-h 638px
    font-size: 14px
    section.ng-scope
      background: $comment-grey-bg
    .comments-container
      padding: 10px
      .post-image
        margin: 0
        img
          w-h 35px 35px
      .comment-author
        color: $red
        a
          color: $red
      .comment
        clear: both
        display: table
        w-h 100%
        padding-bottom: 10px
        margin-bottom:5px
        border-bottom: 1px solid  $grey-border
      .comment-body-container
        display: table
        .comment-body
          line-height: 1.5;
          font-size: 13px
      .form-horizontal
        p.input-group
          margin: 0
          .input-group-btn
            input
              @media $mob-down
                font-size : 0px
                w-h 30px 31px
                background : url(../../img/icons/post-ico.png) center center no-repeat
                background-size : 80%
          .form-control
            @media $mob-down
              font-size : 12px


.home-page-sidebar
  margin-top: 35px
  .well-lg
    display: inline-block
    clear : both
    w-h 100%
    border:0
    background : transparent
    padding:0px 0px 10px 0px
    box-shadow inset 0 0px 0px rgba(0,0,0,.05)
    border-radius(0px)
  .block-title
    color : $red
    font-size: 14px
    text-transform: uppercase
    border-left : 5px solid $red
    padding : 7px 0px
    margin : 0

  .block-title + div
    margin-top: 10px
    border-top : 1px solid  $grey-border
    padding-top : 10px

.birthdays-today
  border-bottom: 1px solid  $grey-border
  .block-title
    padding-left : 45px
    background: url(../../img/icons/birthday.png) 5px 50% no-repeat
  .users-birthday-today
    .user-picture.birthday-today
      clear:both
    .picture
      border-radius(100%)
      display: inline-block
      overflow : hidden
      float : left
      margin-right:10px
    a
      color : $black
      text-decoration : none
      font-weight : bold
    .birthday-person
      display: inline-block
      float : left
      margin : 10px 0px
    .birthday-wish
      display: inline-block
      float: right
      margin : 10px 0px
      font-size : 12px
      font-weight : bold
      a
        color : $red

.upcoming-birthdays
  .block-title
    padding-left : 45px
    background: url(../../img/icons/birthday.png) 5px 50% no-repeat
  .selected-birthday
    border-bottom:3px red solid;
  .user-birthdate-upcoming-birthday
    .user-name
      font-weight: bold;


.post-block
  .block-title
    z-index:-10;
  .post-form-container
    padding: 30px 0px
    background-image: url(../../img/homepage/mumbai.jpg)
    background-position: 0% 45%
    margin: 10px 0 20px 0px
    background-size: 100%
    text-align : center
    h2
      text-transform: uppercase
      font-weight: bold
      color: $grey-header
    .input-group
      margin: 0 auto
      border: 15px solid $dark-magenta
      w-h 70%
      @media $desk-down
        w-h 90%
      .btn,
      textarea
        border-radius(0px)
        background : $light-pink-bg
      .form-control
        font-family : cursive
        border-radius(0px)
      .post-loader
        display: table-cell;
        width: 32px;
        vertical-align: middle;
      &.post-images
        .browse-image
          font-size : 16px
          line-height : 1
          @media $desk-down
            font-size : 14px
          @media $tab-down
            font-size : 12px
    .previewPost
      background: rgba(251, 251, 251, 0.72)
      margin: 20px auto 0px
      width: 70%
      @media $desk-down
        w-h 90%

  .share-option-buttons
    margin: 0 auto
    w-h 70%
    display : inline-block
    @media $desk-down
      w-h 90%
    ul
      display: inline
      padding: 0
      margin : 0
    li
      list-style : none
      float : left
      margin : 0px 30px 0px 0px
      w-h 32px 32px
      color $transparent
      cursor : pointer
      @media $tab-down
        margin-right : 10px
      &.share
        margin-left : 20px
        background : url(../../img/sprites/share-icons.png) 0px -28px no-repeat;
        @media $tab-down
          margin-left : 0px
        &.highlighted
          background-position : 0px 0px
      &.img
        background : url(../../img/sprites/photo-icons.png) 0px -28px no-repeat;
        &.highlighted
          background-position : 0px 0px
      &.mood
        background : url(../../img/sprites/smiley-icons.png) 0px -31px no-repeat;
        &.highlighted
          background-position : 0px 0px
      &.link
        background : url(../../img/sprites/links-icons.png) 0px -37px no-repeat;
        &.highlighted
          background-position : 0px -2px
      &.article
        background : url(../../img/sprites/article-icons.png) 0px -33px no-repeat;
        &.highlighted
          background-position : 0px 0px
  .post-pointer
    margin: 0 auto
    w-h 70% 10px
    background : url(../../img/icons/post-pointer.png) 25px 1px no-repeat
    @media $desk-down
      w-h 90% 10px
    @media $tab-down
      background-position : 5px 1px
    &.postImages
      background-position : 88px 1px
      @media $tab-down
        background-position : 48px 1px
    &.postMoods
      background-position : 148px 1px
      @media $tab-down
        background-position : 89px 1px
    &.postLinks
      background-position : 210px 1px
      @media $tab-down
        background-position : 130px 1px
.user-post .post-form-container
  background-image: url(../../img/homepage/mumbai.jpg)
  background-position: 0% 45%
  background-size: 100%
  h2
    text-transform: uppercase
    font-weight: bold
    color: $grey-header

.users-birthday-today
  ul.users li
    list-style: none
    clear: both
    .user-picture.birthday-today
      img
        border: 2px solid $bright-red
        border-radius(66px)
        display: inline-block
        w-h 50px 50px
        overflow: hidden
        float: left
        margin-right: 20px

h5.block-title
  clear: both

.result-table
  margin: 20px 0
  w-h 100%
  border-collapse: collapse

.result-table td
  padding: 8px

.result-table > tbody > tr > td:first-child
  w-h 50%
  max-width: 300px
  text-align: right

.result-table td table
  background-color: lightblue
  text-align: right

.link-share
  border: 1px solid $grey-border
  margin-top: 5px
  min-height: 172px
  .description
    margin: 10px
  .abstract
    font-size: 14px
  .preview-image
    float:left
    margin: 10px
    overflow: hidden
    position: relative
    img
      max-width: 150px
      max-height: 150px
      w-h auto 100%
    .youtube-icon
      width : 40%
      height : 40%
      background : pink
      absolute 30% 30%
      background : url(../../img/icons/youtube-icons.png) center center no-repeat
      cursor : pointer
      background-size : 100% 100%
.post-like
  clear: both
  .name
    color: $grey

.avatar-today-birthday
  border-radius(50%)
  w-h 40px
ul.recent-birthday-users
  padding : 0
  margin : 0
  line-height : 0
  .user-picture
    w-h auto 40px
    float: left
    @media $wide-down
      w-h auto 30px

    img
      w-h auto 100%
      cursor: pointer
  li
    list-style: none
    display: inline-block
    border-left: 2px solid $white
    border-right: 2px solid $white

.users-birthday-upcoming
  text-align : center
  .carousel
    display : inline-block
    padding : 0px 20px
  .carousel-control
    margin : 0
    background : #ccc
    opacity : 1
    width : 20px
    cursor : pointer
    span
      margin : 0
      position: relative
      top : initial
      left : initial
      right : initial
      width : 100%
      height : 100%
      font-size : 26px
      @media $wide-down
        font-size : 20px

.user-birthdate
  border : 1px solid $grey-border;
  padding : 1px
  margin : 8px 0px
  background : $whitish-grey
  padding : 5px 7px
  font-size : 16px
  color : $red
  text-align : center
  display : inline-block
.birthday-wrapper
  text-align : center
.carousel-control.right
  background-image: none

.carousel-control.left
  background-image: none

.upcoming-birthdays ol.carousel-indicators
  display: none

.user-profile-picture, .user-profile-picture-edit
  img
    w-h : 100%

.user-profile-page
  .user-profile-picture, .user-profile-picture-edit
    border-radius(50%)
    w-h 120px 120px
    absolute 127px ,initial,initial,325px;
    border: 5px solid white
    overflow : hidden
    @media $wide-down
      left : 257px
    @media $desk-down
      left : 305px
    @media $tab-down
      w-h 20%
      left : 40%
    @media $mob-down
      left : 20px;
      top : initial
      bottom : -40px
      w-h : 140px 140px
      box-shadow 0px 0px 3px $grey;
  .user-name
      @media $mob-down
        display: inline-block
        position: relative
        left: 140px
        margin-bottom: 10px
        h2
          font-size : 18px
  & > .well
    @media $desk-down
      display : inline-block
      width : 100%

.cover-background
  opacity 0.7

.about-me
  .sub-heading
    float:left
    display:block
    text-transform:uppercase
  .edit-icon
    float:right
  .edit-user-text
    color: $red
    cursor:pointer
  .bio
    clear:both
  .glyphicon-edit
    margin-right:5px

.scrabble-wrapper.ng-scope
  margin-top:20px
.polls-homepage-title
  background: url("../../img/icons/community-logo.png") 3px 0px no-repeat
  padding-left: 40px !important
  background-size: 32px
.polls-block
  .well-lg
    border-bottom: 1px solid $grey
    padding-bottom : 20px
  .poll-question
    border-top: 1px solid $grey
    padding-top: 10px
    font-weight: bold
  .custom_checkbox
    position: relative
    top : 5px
    .checkbox-button
      w-h 20px 20px
      background : url(../../img/icons/bullet.png) center center no-repeat
      display : inline-block
      &.clicked
        background : url(../../img/icons/bullet_checked.png) 35% center no-repeat
    input
      display : none
  .radio
    padding-left : 0px
    margin-top : 0px
  .btn
    border : 1px solid $red
    color : $red
    text-transform : uppercase
    background : transparent
    border-radius(0px)
    font-weight bold
    &:hover
      color : white
      background : $red

#arigato
  margin-top: 20px
  margin-bottom: 60px
  position: relative
  border: 1px solid $red
  background: $whitish-grey
  .arigato-create-form
    margin: 20px 10px
    label
      color: $red
    .buttons
      margin-top: 10px
  .arigato-logo
    w-h 100px 40px
    background: url(../../img/icons/arigato.png) top left no-repeat
    absolute -25px,initial,initial,13px
  .carousel-indicators
    absolute initial,initial,0px,0px
    margin : -42px 15px
    text-align : left
    li
      w-h 10px 10px
      margin : 0px 2px
      border-radius 0
      border : 0
      background : url(../../img/icons/arigato-bullet.png) center center no-repeat
      &.active
        background : url(../../img/icons/arigato-bullet-active.png) center center no-repeat
  .arigatos-carousel
    margin: 0 auto
  a.left.carousel-control
    display:none
  a.right.carousel-control
    display:none
  .arigato-content
    margin: 15px
  .arigato-user
    w-h 100px auto
    float: left
    margin-right : 10px
    & img
      width : 100%
  .arigato-text
    padding-left:33%
    text-align: left
    w-h
    .arigato-for a
      color: $red
    .arigato-by
      float: right
    .arigato-message img
      height:auto
      width:auto
      max-width:50%
      max-height:50%
  .arigato-footer
    margin-top: 10px
    background-color: $bright-red
    w-h auto 40px
    .arigato-footer-inner
      display : inline-block
      float : right
    .arigato-footer-title
      float: left
      color: $white
      padding: 14px 10px
      font-size: 13px
      line-height: 13px
      border-right: 1px solid  $red-border
    .arigato-add-arigato
      float : left
      w-h
      padding : 10px 5px
      cursor : pointer

.infinite-scroll-loader
  background-color: $whitish-grey
  w-h 100% 30px
  border: 1px solid  $grey-border
  margin-bottom: 10px
  img
    w-h
    margin-left: 45%
    margin-top: 5px
.user-cover-picture,
.user-cover-picture-edit
  background-color: $whitish-grey
  w-h auto 375px
  overflow: hidden
  @media $mob-down
    w-h auto 230px
  img
    w-h 100% 100%
    display:block
    margin: 0 auto

.user-cover-picture-edit
  opacity 0.4
  &:hover
    opacity 1
    cursor : pointer
  img
    w-h auto 100%
    display:block
    margin: 0 auto
  input[type=file]
    w-h 100% 375px
    absolute 0px,initial,initial,0px
    opacity 0
  .change-picture
    absolute 75px,initial,initial,325px

.user-profile-picture-edit
  opacity 0.4
  &:hover
    opacity 1
  img
    border-radius(50%)
    w-h 120px 120px
    absolute 0px,initial,initial,0px
  input[type=file]
    z-index: 999
    line-height: 0
    font-size: 50px
    opacity 0
    cursor: pointer
    _cursor: hand
    margin: 0
    padding: 0
    absolute 0px,initial,initial,0px
    w-h 120px 120px
  .change-picture
    absolute 75px,initial,initial,325px

.edit-user-text
  color: $red
  cursor:pointer
.cover
  position: relative
  @media $tab-down
    padding : 0
  .edit-user
    absolute 10px 30px
form
  .edit-user
    absolute 10px 30px

.save-pictures,.edit-pictures
    position : relative
    z-index:1000
    top : 7px
    right : -15px

.opacity-enter
  opacity 0.6
.opacity-leave
  opacity 1

.mobile-menu-button
  display : none
  background : url(../../img/icons/mobile-menu.png) center center no-repeat
  w-h 32px 32px
  float : right
  margin-top : 10px
  position: relative
  z-index: 1
  cursor : pointer
  @media $tab-down
    display : inline-block

.ceo-speak
  @media $desk-down
    padding-left : 0px
    margin : 20px 0px
.hr-corner
  @media $desk-down
    padding-right : 0px
    margin : 20px 0px

/*LOGIN PAGE THEMING*/
.form-signin
  .left-inner-addon
    position : relative
    margin : 30px 0px
    .glyphicon
      padding : 0;
      absolute 10px , initial , initial , 10px

.contact-information
  & > span,
  & > label
    margin : 10px 0px
    display : inline-block
    @media $desk-down
      width: 340px
    @media $tab-down
      width : auto
      height: 36px
      line-height: 36px
    @media $mob-down
      float : none
      text-align : center
      margin : 0
  & > span
    @media $tab-down
      width  : 350px
    @media $tab-mob-down
      width : 280px
    @media $mob-down
      width : 100%
      padding : 0px
  & > label
    @media $tab-down
      width : 130px
      font-size : 13px
    @media $mob-down
      width : 100%
      padding : 0px

.ta-editor
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
.red
  color: red;
.statictoolbar
  position: fixed;
  top: 12px;

#comment
  overflow: hidden;
#comment:hover
  overflow: auto;
.banner-image
  padding-left : 0px
  img
    width : 100%

// for event block
.title
  font-weight : bold

.row .events
  position : relative
  border : 2px solid $dark-red
  margin : 30px 0px

  a
    position : absolute
    &.event-logo
      background : url('../../img/sprites/cactus-intranet-icon-sprite.png')
      background-position: -69px -397px;
      height : 64px
      width : 64px
      left : 46%
      top : -32px
    &.prev
      background : url('../../img/sprites/cactus-intranet-icon-sprite.png')
      background-position: -12px -413px;
      height : 32px
      width : 32px
      left : 25%
      top : -16px
    &.next
      background : url('../../img/sprites/cactus-intranet-icon-sprite.png')
      background-position: -156px -413px;
      height : 32px
      width : 32px
      left : 75%
      top : -16px
  & .col-md-4
    text-align : center
    padding : 0
  .calender
    width : 60%
    float : left
    margin-top : 50px
    border : 2px solid #da2129
    display : table
    margin-bottom : 20px
    & span
      width 100%
      display inline-block
      float : left
    & .calender-month
      background-color : #c9092e
      color : white
    & .calender-date
      font-weight : bolder
      font-size : 200%
      border-bottom : 1px solid #b3b1b1
    & .calender-day
      color : #b3b1b1
  .calender-time
    color : #da2129
    clear : both
    float : left
    padding : 0
    margin-top : 15px
  .col-md-8
    margin-top : 50px
    padding : 0

.row .hr-corner, .ceo-speak
  &.col-md-6
    padding : 0
  img
    w-h 100%
.banner-region-right
  padding-left : 0px
  .row
    margin : 0px
    &.right-top-row
      margin-bottom : 22px
.navbar-nav
  &>li
    &:last-child
      float: right
      text-align : right
      padding-right : 5px

.header-banner
  .carousel-indicators
    margin : 0px
    width : auto
    absolute initial 20px 10px initial
    li
      width : 12px
      height : 12px
      padding : 0px 10px
      margin : 0px 5px
  .carousel-control
    width : auto
    display:none
    .icon-next
      background : black
      border-radius 100%
      cursor : pointer
      &:before
        position : relative
        top : -8px
        left : 2px
    &.right
      right : -13px
    .icon-prev
      background : black
      border-radius 100%
      cursor : pointer
      &:before
        position : relative
        top : -8px
        right : 2px
.logo-bar
  .logo
    float: left
  .search
    float: right

.branding-region
  margin-bottom: 7px;
  margin-top: 15px;
  .search
    margin-top: 5px;
    position : relative
    input
      border: 2px solid $dark-red
      padding: 10px 35px 10px 10px
      font-size: 16px
      width: 100%
      color : $grey-header
      outline : none
    .glyphicon-search
      absolute 12px 22px
      font-size : 20px
      color : $grey-header


.nopadding
  padding : 0

.noleftpadding
  padding-left : 0

.norightpadding
  padding-right : 0

.top-full-stack
  display : inline-block
  w-h 100% auto
.left-grid-stack
  clear : both
.right-grid-stack
  display : table
.rounded-bullet
  w-h 10px 10px
  border-radius 100%
  display : inline-block
  background : pink
  &.General
    background : green
  &.HR
    background : blue
  &.Personal
    background : yellow
  &.Achievements
    background : brown
.expanded #comment
  height: 70px
