.p20 {
  padding-bottom: 20px;
}
.nopadding {
  padding: 0;
}
.noleftpadding {
  padding-left: 0;
}
.norightpadding {
  padding-right: 0;
}
footer {
  left: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  background: #ddd;
  -webkit-box-shadow: 0 8px 6px 6px #000;
  -moz-box-shadow: 0 8px 6px 6px #000;
  -webkit-box-shadow: 0 8px 6px 6px #000;
  -moz-box-shadow: 0 8px 6px 6px #000;
  -ms-box-shadow: 0 8px 6px 6px #000;
  -o-box-shadow: 0 8px 6px 6px #000;
  box-shadow: 0 8px 6px 6px #000;
}
footer p {
  padding: 5px 0 12px 10px;
}
html,
body,
.container {
  font-family: Trebuchet MS, sans-serif;
  font-size: 14px;
  height: 100%;
}
.hr-panel {
  padding: 3px 20px;
}
.header-day,
.header-date {
  color: #fff;
}
.row {
  margin: 0;
}
i.glyphicon {
  cursor: pointer;
}
textarea {
  resize: none;
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px;
}
.left-inner-addon i {
  padding: 12px 12px;
  pointer-events: none;
}
.content-wrapper {
  min-height: 600px;
}
.left-header.col-md-8 {
  background-color: #db282e;
  color: #f6eff1;
  font-size: 15px;
  padding-right: 0;
}
.left-header.col-md-8 a {
  color: #fffffd;
  font-size: 15px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 a {
    padding: 32px 10px 0px 10px;
  }
}
.left-header.col-md-8 .navbar-nav a {
  color: #fffffd;
}
.container .left-header .col-md-4 {
  background-color: #444;
}
.col-md-4 .visible-lg .dropdown a {
  color: #fff;
}
.col-md-2 .clearfix .col-md-6,
.col-md-2 .clearfix .col-md-12 {
  background-size: 100%;
}
.col-md-2 .clearfix .col-md-12 {
  margin-left: 5px;
  min-height: 94;
}
.col-md-2 .clearfix {
  min-height: 94px;
  margin-top: -3px;
}
.navbar {
  border: 0;
  margin-bottom: 8px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: #444;
}
@media screen and (max-width : 992px) {
  .navbar {
    background-color: #db282f;
  }
}
.navbar> .container .navbar-brand {
  height: auto;
}
@media screen and (min-width : 768px) {
  .navbar> .container .navbar-brand {
    margin-left: 0px;
  }
}
.navbar .container {
  position: relative;
}
.navbar .container:before {
  content: "";
  width: 100%;
  height: 150px;
  position: absolute;
  top: initial;
  bottom: 0px;
  left: -50%;
  right: initial;
  background-color: #db282e;
}
@media screen and (max-width : 992px) {
  .navbar .container:before {
    background-color: transparent;
  }
}
.col-md-4 .row {
  margin: 2px 0px 0px -7px;
}
@media screen and (max-width : 768px) {
  .header-wrapper {
    overflow: hidden;
    height: 50px;
    margin-bottom: 20px;
  }
  .header-wrapper.drop-it-down {
    height: auto;
    margin-bottom: 0px;
  }
}
.right-header .navbar-nav {
  margin-top: 10px;
  width: 100%;
  height: auto;
}
.right-header .navbar-nav li:first-child float:right,
.right-header .navbar-nav float:left float:right,
.right-header .navbar-nav li:last-child float:right {
  text-align: right;
}
.right-header .navbar-nav li:first-child .ng-binding,
.right-header .navbar-nav float:left .ng-binding,
.right-header .navbar-nav li:last-child .ng-binding {
  width: 100%;
  height: auto;
  text-transform: uppercase;
}
.bottom-container {
  background-color: #444;
}
.bottom-container .container {
  color: #fff;
  word-spacing: 5px;
  line-height: 33px;
  font-size: 14px;
  padding: 0px 30px;
}
.bottom-container .container .locations {
  margin-top: 22px;
}
.bottom-container .container .copyright-info {
  margin-bottom: 22px;
}
@media screen and (max-width : 992px) {
  .left-header {
    text-align: center;
  }
}
.left-header.col-md-8 {
  font-size: 13px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 {
    padding: 0;
  }
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav {
    float: none;
    display: inline-block;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav {
    margin: 0;
    padding: 0px 10px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li {
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li a {
    display: inline-block;
    padding: 8px 10px 8px 30px;
    margin: 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
  margin-left: 0px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 0px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    border-bottom: 1px solid #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
  padding: 32px 0px 0px 0px;
  margin: 10px 15px 5px 15px;
  background: url(../../img/icons/home-white.png) 50% 2px no-repeat;
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a:hover {
  background: url(../../img/icons/home-black.png) 50% 2px no-repeat;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    padding: 32px 0px 0px 0px;
    margin: 10px 15px 5px 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 20px;
    padding: 4px 0px 4px 30px;
    margin: 10px 0px 5px 0px;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu {
  background: #db282f;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a {
  color: #fff;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a:hover {
  background: #444;
  color: #fff;
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    margin-left: 20px;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items a {
    padding: 3px 0px 3px 25px;
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 16px;
    color: #fff;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items .divider {
    margin: 3px 0px;
    background-color: #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
  margin-left: 0px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 0px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    border-bottom: 1px solid #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(3) > a {
  padding: 32px 0px 0px 0px;
  margin: 10px 15px 5px 15px;
  background: url(../../img/icons/editage-white.png) 50% 2px no-repeat;
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(3) > a:hover {
  background: url(../../img/icons/editage-black.png) 50% 2px no-repeat;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(3) > a {
    padding: 32px 0px 0px 0px;
    margin: 10px 15px 5px 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(3) > a {
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 20px;
    padding: 4px 0px 4px 30px;
    margin: 10px 0px 5px 0px;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu {
  background: #db282f;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a {
  color: #fff;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a:hover {
  background: #444;
  color: #fff;
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    margin-left: 20px;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items a {
    padding: 3px 0px 3px 25px;
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 16px;
    color: #fff;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items .divider {
    margin: 3px 0px;
    background-color: #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
  margin-left: 0px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 0px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    border-bottom: 1px solid #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(4) > a {
  padding: 32px 0px 0px 0px;
  margin: 10px 15px 5px 15px;
  background: url(../../img/icons/document-white.png) 50% 0px no-repeat;
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(4) > a:hover {
  background: url(../../img/icons/document-black.png) 50% 0px no-repeat;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(4) > a {
    padding: 32px 0px 0px 0px;
    margin: 10px 15px 5px 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(4) > a {
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 20px;
    padding: 4px 0px 4px 30px;
    margin: 10px 0px 5px 0px;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu {
  background: #db282f;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a {
  color: #fff;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a:hover {
  background: #444;
  color: #fff;
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    margin-left: 20px;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items a {
    padding: 3px 0px 3px 25px;
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 16px;
    color: #fff;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items .divider {
    margin: 3px 0px;
    background-color: #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
  margin-left: 0px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 0px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    border-bottom: 1px solid #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(5) > a {
  padding: 32px 0px 0px 0px;
  margin: 10px 15px 5px 15px;
  background: url(../../img/icons/groups-white.png) 50% 3px no-repeat;
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(5) > a:hover {
  background: url(../../img/icons/groups-black.png) 50% 3px no-repeat;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(5) > a {
    padding: 32px 0px 0px 0px;
    margin: 10px 15px 5px 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(5) > a {
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 20px;
    padding: 4px 0px 4px 30px;
    margin: 10px 0px 5px 0px;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu {
  background: #db282f;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a {
  color: #fff;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a:hover {
  background: #444;
  color: #fff;
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    margin-left: 20px;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items a {
    padding: 3px 0px 3px 25px;
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 16px;
    color: #fff;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items .divider {
    margin: 3px 0px;
    background-color: #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
  margin-left: 0px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 0px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    border-bottom: 1px solid #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(6) > a {
  padding: 32px 0px 0px 0px;
  margin: 10px 15px 5px 15px;
  background: url(../../img/icons/moreapp-white.png) 50% 5px no-repeat;
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(6) > a:hover {
  background: url(../../img/icons/moreapp-black.png) 50% 5px no-repeat;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(6) > a {
    padding: 32px 0px 0px 0px;
    margin: 10px 15px 5px 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(6) > a {
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 20px;
    padding: 4px 0px 4px 30px;
    margin: 10px 0px 5px 0px;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu {
  background: #db282f;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a {
  color: #fff;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a:hover {
  background: #444;
  color: #fff;
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    margin-left: 20px;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items a {
    padding: 3px 0px 3px 25px;
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 16px;
    color: #fff;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items .divider {
    margin: 3px 0px;
    background-color: #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
  margin-left: 0px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 0px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    border-bottom: 1px solid #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(7) > a {
  padding: 32px 0px 0px 0px;
  margin: 10px 15px 5px 15px;
  background: url(../../img/icons/notification-white.png) 50% 2px no-repeat;
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(7) > a:hover {
  background: url(../../img/icons/notification-black.png) 50% 2px no-repeat;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(7) > a {
    padding: 32px 0px 0px 0px;
    margin: 10px 15px 5px 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(7) > a {
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 20px;
    padding: 4px 0px 4px 30px;
    margin: 10px 0px 5px 0px;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu {
  background: #db282f;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a {
  color: #fff;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a:hover {
  background: #444;
  color: #fff;
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    margin-left: 20px;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items a {
    padding: 3px 0px 3px 25px;
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 16px;
    color: #fff;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items .divider {
    margin: 3px 0px;
    background-color: #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
  margin-left: 0px;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(2) > a {
    margin-left: 0px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    border-bottom: 1px solid #ea484e;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(8) > a {
  padding: 32px 0px 0px 0px;
  margin: 10px 15px 5px 15px;
  background: url(../../img/icons/signout-white.png) 50% 4px no-repeat;
}
.left-header.col-md-8 .navbar-nav li.ico-items:nth-child(8) > a:hover {
  background: url(../../img/icons/signout-black.png) 50% 4px no-repeat;
}
@media screen and (max-width : 992px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(8) > a {
    padding: 32px 0px 0px 0px;
    margin: 10px 15px 5px 15px;
  }
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items:nth-child(8) > a {
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 20px;
    padding: 4px 0px 4px 30px;
    margin: 10px 0px 5px 0px;
  }
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu {
  background: #db282f;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a {
  color: #fff;
}
.left-header.col-md-8 .navbar-nav li.ico-items .dropdown-menu li a:hover {
  background: #444;
  color: #fff;
}
@media screen and (max-width : 768px) {
  .left-header.col-md-8 .navbar-nav li.ico-items {
    margin-left: 20px;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items a {
    padding: 3px 0px 3px 25px;
    background: url("../../img/icons/mobile-bullets-arrow.png") center left no-repeat;
    background-size: 16px;
    color: #fff;
  }
  .left-header.col-md-8 .navbar-nav li.ico-items .divider {
    margin: 3px 0px;
    background-color: #ea484e;
  }
}
.right-header .navbar-nav > li:nth-child(2) >a {
  background: url("../../img/icons/edit-white.png") top center no-repeat;
}
.right-header .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: transparent;
}
ul.dropdown-menu {
  z-index: 9999;
}
.fileUpload {
  overflow: hidden;
  position: relative;
  background-color: #ccc;
  max-height: 120px;
  max-width: 120px;
}
input.profile-picture {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  position: absolute;
  top: -2px;
  bottom: initial;
  left: -700px;
  right: initial;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding: 0;
  width: auto;
  height: 120px;
}
li.dropdown a.header-user {
  padding: 0px;
}
@media screen and (max-width : 992px) {
  li.dropdown a.header-user.tab-show {
    padding: 10px;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width : 768px) {
  li.dropdown a.header-user.tab-show {
    padding: 0;
    float: left;
    z-index: 1;
    position: relative;
  }
}
li.dropdown a.header-user .user-profile-picture-header {
  border: 2px solid #db282e;
  -webkit-border-radius: 66px;
  -moz-border-radius: 66px;
  -ms-border-radius: 66px;
  -o-border-radius: 66px;
  border-radius: 66px;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
}
li.dropdown a.header-user .user-profile-picture-header img {
  width: 100%;
  height: auto;
}
@media screen and (max-width : 768px) {
  li.dropdown a.header-user .user-profile-picture-header {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
}
li.dropdown a.header-user .user-name {
  padding-left: 10px;
  color: #fff;
}
li.dropdown a.header-user .user-name:hover {
  color: #bcbcbc;
}
.content-region ul {
  padding-left: 0;
  list-style: none;
}
.content-region .block-title {
  position: relative;
  font-size: 12px;
}
.content-region .block-title .recent-happening-title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: initial;
  color: #db282f;
  padding: 3px 5px 3px 30px;
  background: #fff url("../../img/icons/clock_icon.png") 2px 0px no-repeat;
}
.content-region .title-drop-button {
  margin: 0 50px 0 0px;
  font-weight: bold;
  background: #fff url("../../img/icons/down_tri_ico.png") 56px 7px no-repeat;
  padding: 0px 20px 0px 5px;
  float: right;
}
.content-region .title-pin-drop-button {
  margin: 0 50px 0 0px;
  font-weight: bold;
  background: #fff url("../../img/icons/down_tri_ico.png") 64px 6px no-repeat;
  padding: 0px 20px 0px 5px;
  float: right;
}
.content-region .title-drop-button:after {
  content: "";
  background: url("../../img/icons/down-arrow.png") no-repeat top right;
  width: 15px;
  height: 10px;
  display: inline-block;
  position: absolute;
  top: 25%;
  bottom: initial;
  left: initial;
  right: initial;
}
.content-region .line-holder {
  display: block;
  position: absolute;
  top: 50%;
  bottom: initial;
  left: initial;
  right: initial;
  width: 100%;
  height: 1px;
  background: #db282f;
  z-index: -50;
}
ul.posts {
  clear: both;
}
ul.posts li.ng-scope {
  border: 1px solid #ededed;
  background: #fbfbfb;
  margin-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
@media screen and (max-width : 768px) {
  ul.posts li.ng-scope {
    padding-left: 100px;
  }
}
@media screen and (max-width : 480px) {
  ul.posts li.ng-scope {
    padding-left: 60px;
  }
}
ul.posts .wall-post {
  color: #858383;
  font-weight: normal;
  font-size: 14px;
}
ul.posts .wall-post .posted-to {
  font-size: 14px;
  color: #db282f;
}
ul.posts .author-name {
  text-transform: capitalize;
}
ul.posts .post-date {
  width: 80px;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #db282f;
  padding: 4px 10px;
  line-height: 16px;
  display: inline-block;
  float: left;
  margin: 0px 10px 10px 0px;
}
@media screen and (max-width : 768px) {
  ul.posts .post-date {
    position: absolute;
    top: 0px;
    bottom: initial;
    left: 0px;
    right: initial;
  }
}
@media screen and (max-width : 480px) {
  ul.posts .post-date {
    width: 50px;
    height: auto;
    text-align: center;
  }
}
ul.posts .post-date .hh-mm {
  font-size: 14px;
}
ul.posts .post-image {
  margin: 10px 20px 10px 0;
}
@media screen and (max-width : 768px) {
  ul.posts .post-image.post-image-main {
    position: absolute;
    top: 41px;
    bottom: initial;
    left: 0px;
    right: initial;
  }
}
@media screen and (max-width : 480px) {
  ul.posts .post-image.post-image-main {
    position: absolute;
    top: 74px;
    bottom: intial;
    left: 0px;
    right: initial;
  }
}
ul.posts .post-image img {
  width: 80px;
  height: auto;
  float: left;
  border: 1px solid #000;
  margin-right: 10px;
}
@media screen and (max-width : 480px) {
  ul.posts .post-image img {
    width: 50px;
    height: auto;
  }
}
ul.posts .post-author {
  color: #db282f;
}
ul.posts .message {
  display: table;
  width: 100%;
  height: auto;
  padding-right: 10px;
  font-size: 14px;
}
@media screen and (min-width : 768px) {
  ul.posts .message {
    width: 598px;
    height: auto;
  }
}
@media screen and (min-width : 992px) {
  ul.posts .message {
    width: 504px;
    height: auto;
  }
}
@media screen and (min-width : 1200px) {
  ul.posts .message {
    width: 638px;
    height: auto;
  }
}
ul.posts .message section.ng-scope {
  background: #f2f2f2;
}
ul.posts .message .comments-container {
  padding: 10px;
}
ul.posts .message .comments-container .post-image {
  margin: 0;
}
ul.posts .message .comments-container .post-image img {
  width: 35px;
  height: 35px;
}
ul.posts .message .comments-container .comment-author {
  color: #db282f;
}
ul.posts .message .comments-container .comment-author a {
  color: #db282f;
}
ul.posts .message .comments-container .comment {
  clear: both;
  display: table;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
ul.posts .message .comments-container .comment-body-container {
  display: table;
}
ul.posts .message .comments-container .comment-body-container .comment-body {
  line-height: 1.5;
  font-size: 13px;
}
ul.posts .message .comments-container .form-horizontal p.input-group {
  margin: 0;
}
@media screen and (max-width : 480px) {
  ul.posts .message .comments-container .form-horizontal p.input-group .input-group-btn input {
    font-size: 0px;
    width: 30px;
    height: 31px;
    background: url("../../img/icons/post-ico.png") center center no-repeat;
    background-size: 80%;
  }
}
@media screen and (max-width : 480px) {
  ul.posts .message .comments-container .form-horizontal p.input-group .form-control {
    font-size: 12px;
  }
}
.home-page-sidebar {
  margin-top: 35px;
}
.home-page-sidebar .well-lg {
  display: inline-block;
  clear: both;
  width: 100%;
  height: auto;
  border: 0;
  background: transparent;
  padding: 0px 0px 10px 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
  -ms-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
  -o-box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
  box-shadow: inset 0 0px 0px rgba(0,0,0,0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.home-page-sidebar .block-title {
  color: #db282f;
  font-size: 14px;
  text-transform: uppercase;
  border-left: 5px solid #db282f;
  padding: 7px 0px;
  margin: 0;
}
.home-page-sidebar .block-title + div {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
.birthdays-today {
  border-bottom: 1px solid #ccc;
}
.birthdays-today .block-title {
  padding-left: 45px;
  background: url("../../img/icons/birthday.png") 5px 50% no-repeat;
}
.birthdays-today .users-birthday-today .user-picture.birthday-today {
  clear: both;
}
.birthdays-today .users-birthday-today .picture {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.birthdays-today .users-birthday-today a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
.birthdays-today .users-birthday-today .birthday-person {
  display: inline-block;
  float: left;
  margin: 10px 0px;
}
.birthdays-today .users-birthday-today .birthday-wish {
  display: inline-block;
  float: right;
  margin: 10px 0px;
  font-size: 12px;
  font-weight: bold;
}
.birthdays-today .users-birthday-today .birthday-wish a {
  color: #db282f;
}
.upcoming-birthdays .block-title {
  padding-left: 45px;
  background: url("../../img/icons/birthday.png") 5px 50% no-repeat;
}
.upcoming-birthdays .selected-birthday {
  border-bottom: 3px #f00 solid;
}
.upcoming-birthdays .user-birthdate-upcoming-birthday .user-name {
  font-weight: bold;
}
.post-block .block-title {
  z-index: -10;
}
.post-block .post-form-container {
  padding: 30px 0px;
  background-image: url("../../img/homepage/mumbai.jpg");
  background-position: 0% 45%;
  margin: 10px 0 20px 0px;
  background-size: 100%;
  text-align: center;
}
.post-block .post-form-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
}
.post-block .post-form-container .input-group {
  margin: 0 auto;
  border: 15px solid #9f546b;
  width: 70%;
  height: auto;
}
@media screen and (max-width : 992px) {
  .post-block .post-form-container .input-group {
    width: 90%;
    height: auto;
  }
}
.post-block .post-form-container .input-group .btn,
.post-block .post-form-container .input-group textarea {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: #f6eff1;
}
.post-block .post-form-container .input-group .form-control {
  font-family: cursive;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.post-block .post-form-container .input-group .post-loader {
  display: table-cell;
  width: 32px;
  vertical-align: middle;
}
.post-block .post-form-container .input-group.post-images .browse-image {
  font-size: 16px;
  line-height: 1;
}
@media screen and (max-width : 992px) {
  .post-block .post-form-container .input-group.post-images .browse-image {
    font-size: 14px;
  }
}
@media screen and (max-width : 768px) {
  .post-block .post-form-container .input-group.post-images .browse-image {
    font-size: 12px;
  }
}
.post-block .post-form-container .previewPost {
  background: rgba(251,251,251,0.72);
  margin: 20px auto 0px;
  width: 70%;
}
@media screen and (max-width : 992px) {
  .post-block .post-form-container .previewPost {
    width: 90%;
    height: auto;
  }
}
.post-block .share-option-buttons {
  margin: 0 auto;
  width: 70%;
  height: auto;
  display: inline-block;
}
@media screen and (max-width : 992px) {
  .post-block .share-option-buttons {
    width: 90%;
    height: auto;
  }
}
.post-block .share-option-buttons ul {
  display: inline;
  padding: 0;
  margin: 0;
}
.post-block .share-option-buttons li {
  list-style: none;
  float: left;
  margin: 0px 30px 0px 0px;
  width: 32px;
  height: 32px;
  color: transparent;
  cursor: pointer;
}
@media screen and (max-width : 768px) {
  .post-block .share-option-buttons li {
    margin-right: 10px;
  }
}
.post-block .share-option-buttons li.share {
  margin-left: 20px;
  background: url("../../img/sprites/share-icons.png") 0px -28px no-repeat;
}
@media screen and (max-width : 768px) {
  .post-block .share-option-buttons li.share {
    margin-left: 0px;
  }
}
.post-block .share-option-buttons li.share.highlighted {
  background-position: 0px 0px;
}
.post-block .share-option-buttons li.img {
  background: url("../../img/sprites/photo-icons.png") 0px -28px no-repeat;
}
.post-block .share-option-buttons li.img.highlighted {
  background-position: 0px 0px;
}
.post-block .share-option-buttons li.mood {
  background: url("../../img/sprites/smiley-icons.png") 0px -31px no-repeat;
}
.post-block .share-option-buttons li.mood.highlighted {
  background-position: 0px 0px;
}
.post-block .share-option-buttons li.link {
  background: url("../../img/sprites/links-icons.png") 0px -37px no-repeat;
}
.post-block .share-option-buttons li.link.highlighted {
  background-position: 0px -2px;
}
.post-block .share-option-buttons li.article {
  background: url("../../img/sprites/article-icons.png") 0px -33px no-repeat;
}
.post-block .share-option-buttons li.article.highlighted {
  background-position: 0px 0px;
}
.post-block .post-pointer {
  margin: 0 auto;
  width: 70%;
  height: 10px;
  background: url("../../img/icons/post-pointer.png") 25px 1px no-repeat;
}
@media screen and (max-width : 992px) {
  .post-block .post-pointer {
    width: 90%;
    height: 10px;
  }
}
@media screen and (max-width : 768px) {
  .post-block .post-pointer {
    background-position: 5px 1px;
  }
}
.post-block .post-pointer.postImages {
  background-position: 88px 1px;
}
@media screen and (max-width : 768px) {
  .post-block .post-pointer.postImages {
    background-position: 48px 1px;
  }
}
.post-block .post-pointer.postMoods {
  background-position: 148px 1px;
}
@media screen and (max-width : 768px) {
  .post-block .post-pointer.postMoods {
    background-position: 89px 1px;
  }
}
.post-block .post-pointer.postLinks {
  background-position: 210px 1px;
}
@media screen and (max-width : 768px) {
  .post-block .post-pointer.postLinks {
    background-position: 130px 1px;
  }
}
.user-post .post-form-container {
  background-image: url("../../img/homepage/mumbai.jpg");
  background-position: 0% 45%;
  background-size: 100%;
}
.user-post .post-form-container h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
}
.users-birthday-today ul.users li {
  list-style: none;
  clear: both;
}
.users-birthday-today ul.users li .user-picture.birthday-today img {
  border: 2px solid #db282e;
  -webkit-border-radius: 66px;
  -moz-border-radius: 66px;
  -ms-border-radius: 66px;
  -o-border-radius: 66px;
  border-radius: 66px;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}
h5.block-title {
  clear: both;
}
.result-table {
  margin: 20px 0;
  width: 100%;
  height: auto;
  border-collapse: collapse;
}
.result-table td {
  padding: 8px;
}
.result-table > tbody > tr > td:first-child {
  width: 50%;
  height: auto;
  max-width: 300px;
  text-align: right;
}
.result-table td table {
  background-color: #add8e6;
  text-align: right;
}
.link-share {
  border: 1px solid #ccc;
  margin-top: 5px;
  min-height: 172px;
}
.link-share .description {
  margin: 10px;
}
.link-share .abstract {
  font-size: 14px;
}
.link-share .preview-image {
  float: left;
  margin: 10px;
  overflow: hidden;
  position: relative;
}
.link-share .preview-image img {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: 100%;
}
.link-share .preview-image .youtube-icon {
  width: 40%;
  height: 40%;
  background: #ffc0cb;
  position: absolute;
  top: 30%;
  bottom: initial;
  left: initial;
  right: 30%;
  background: url("../../img/icons/youtube-icons.png") center center no-repeat;
  cursor: pointer;
  background-size: 100% 100%;
}
.post-like {
  clear: both;
}
.post-like .name {
  color: #bcbcbc;
}
.avatar-today-birthday {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: auto;
}
ul.recent-birthday-users {
  padding: 0;
  margin: 0;
  line-height: 0;
}
ul.recent-birthday-users .user-picture {
  width: auto;
  height: 40px;
  float: left;
}
@media screen and (max-width : 1200px) {
  ul.recent-birthday-users .user-picture {
    width: auto;
    height: 30px;
  }
}
ul.recent-birthday-users .user-picture img {
  width: auto;
  height: 100%;
  cursor: pointer;
}
ul.recent-birthday-users li {
  list-style: none;
  display: inline-block;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.users-birthday-upcoming {
  text-align: center;
}
.users-birthday-upcoming .carousel {
  display: inline-block;
  padding: 0px 20px;
}
.users-birthday-upcoming .carousel-control {
  margin: 0;
  background: #ccc;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  width: 20px;
  cursor: pointer;
}
.users-birthday-upcoming .carousel-control span {
  margin: 0;
  position: relative;
  top: initial;
  left: initial;
  right: initial;
  width: 100%;
  height: 100%;
  font-size: 26px;
}
@media screen and (max-width : 1200px) {
  .users-birthday-upcoming .carousel-control span {
    font-size: 20px;
  }
}
.user-birthdate {
  border: 1px solid #ccc;
  padding: 1px;
  margin: 8px 0px;
  background: #fbfbfb;
  padding: 5px 7px;
  font-size: 16px;
  color: #db282f;
  text-align: center;
  display: inline-block;
}
.birthday-wrapper {
  text-align: center;
}
.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}
.upcoming-birthdays ol.carousel-indicators {
  display: none;
}
.user-profile-picture img,
.user-profile-picture-edit img {
  width: 100%;
  height: auto;
}
.user-profile-page .user-profile-picture,
.user-profile-page .user-profile-picture-edit {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 127px;
  bottom: initial;
  left: 325px;
  right: initial;
  border: 5px solid #fff;
  overflow: hidden;
}
@media screen and (max-width : 1200px) {
  .user-profile-page .user-profile-picture,
  .user-profile-page .user-profile-picture-edit {
    left: 257px;
  }
}
@media screen and (max-width : 992px) {
  .user-profile-page .user-profile-picture,
  .user-profile-page .user-profile-picture-edit {
    left: 305px;
  }
}
@media screen and (max-width : 768px) {
  .user-profile-page .user-profile-picture,
  .user-profile-page .user-profile-picture-edit {
    width: 20%;
    height: auto;
    left: 40%;
  }
}
@media screen and (max-width : 480px) {
  .user-profile-page .user-profile-picture,
  .user-profile-page .user-profile-picture-edit {
    left: 20px;
    top: initial;
    bottom: -40px;
    width: 140px;
    height: 140px;
    -webkit-box-shadow: 0px 0px 3px #bcbcbc;
    -moz-box-shadow: 0px 0px 3px #bcbcbc;
    -ms-box-shadow: 0px 0px 3px #bcbcbc;
    -o-box-shadow: 0px 0px 3px #bcbcbc;
    box-shadow: 0px 0px 3px #bcbcbc;
  }
}
@media screen and (max-width : 480px) {
  .user-profile-page .user-name {
    display: inline-block;
    position: relative;
    left: 140px;
    margin-bottom: 10px;
  }
  .user-profile-page .user-name h2 {
    font-size: 18px;
  }
}
@media screen and (max-width : 992px) {
  .user-profile-page > .well {
    display: inline-block;
    width: 100%;
  }
}
.cover-background {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
.about-me .sub-heading {
  float: left;
  display: block;
  text-transform: uppercase;
}
.about-me .edit-icon {
  float: right;
}
.about-me .edit-user-text {
  color: #db282f;
  cursor: pointer;
}
.about-me .bio {
  clear: both;
}
.about-me .glyphicon-edit {
  margin-right: 5px;
}
.scrabble-wrapper.ng-scope {
  margin-top: 20px;
}
.polls-homepage-title {
  background: url("../../img/icons/community-logo.png") 3px 0px no-repeat;
  padding-left: 40px !important;
  background-size: 32px;
}
.polls-block .well-lg {
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 20px;
}
.polls-block .poll-question {
  border-top: 1px solid #bcbcbc;
  padding-top: 10px;
  font-weight: bold;
}
.polls-block .custom_checkbox {
  position: relative;
  top: 5px;
}
.polls-block .custom_checkbox .checkbox-button {
  width: 20px;
  height: 20px;
  background: url("../../img/icons/bullet.png") center center no-repeat;
  display: inline-block;
}
.polls-block .custom_checkbox .checkbox-button.clicked {
  background: url("../../img/icons/bullet_checked.png") 35% center no-repeat;
}
.polls-block .custom_checkbox input {
  display: none;
}
.polls-block .radio {
  padding-left: 0px;
  margin-top: 0px;
}
.polls-block .btn {
  border: 1px solid #db282f;
  color: #db282f;
  text-transform: uppercase;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-weight: bold;
}
.polls-block .btn:hover {
  color: #fff;
  background: #db282f;
}
#arigato {
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
  border: 1px solid #db282f;
  background: #fbfbfb;
}
#arigato .arigato-create-form {
  margin: 20px 10px;
}
#arigato .arigato-create-form label {
  color: #db282f;
}
#arigato .arigato-create-form .buttons {
  margin-top: 10px;
}
#arigato .arigato-logo {
  width: 100px;
  height: 40px;
  background: url("../../img/icons/arigato.png") top left no-repeat;
  position: absolute;
  top: -25px;
  bottom: initial;
  left: 13px;
  right: initial;
}
#arigato .carousel-indicators {
  position: absolute;
  top: initial;
  bottom: 0px;
  left: 0px;
  right: initial;
  margin: -42px 15px;
  text-align: left;
}
#arigato .carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 0px 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: url("../../img/icons/arigato-bullet.png") center center no-repeat;
}
#arigato .carousel-indicators li.active {
  background: url("../../img/icons/arigato-bullet-active.png") center center no-repeat;
}
#arigato .arigatos-carousel {
  margin: 0 auto;
}
#arigato a.left.carousel-control {
  display: none;
}
#arigato a.right.carousel-control {
  display: none;
}
#arigato .arigato-content {
  margin: 15px;
}
#arigato .arigato-user {
  width: 100px;
  height: auto;
  float: left;
  margin-right: 10px;
}
#arigato .arigato-user img {
  width: 100%;
}
#arigato .arigato-text {
  padding-left: 33%;
  text-align: left;
}
#arigato .arigato-text w-h,
#arigato .arigato-text .arigato-for a {
  color: #db282f;
}
#arigato .arigato-text .arigato-by {
  float: right;
}
#arigato .arigato-text .arigato-message img {
  height: auto;
  width: auto;
  max-width: 50%;
  max-height: 50%;
}
#arigato .arigato-footer {
  margin-top: 10px;
  background-color: #db282e;
  width: auto;
  height: 40px;
}
#arigato .arigato-footer .arigato-footer-inner {
  display: inline-block;
  float: right;
}
#arigato .arigato-footer .arigato-footer-title {
  float: left;
  color: #fff;
  padding: 14px 10px;
  font-size: 13px;
  line-height: 13px;
  border-right: 1px solid #ea484e;
}
#arigato .arigato-footer .arigato-add-arigato {
  float: left;
  padding: 10px 5px;
  cursor: pointer;
}
.infinite-scroll-loader {
  background-color: #fbfbfb;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.infinite-scroll-loader img {
  margin-left: 45%;
  margin-top: 5px;
}
.user-cover-picture,
.user-cover-picture-edit {
  background-color: #fbfbfb;
  width: auto;
  height: 375px;
  overflow: hidden;
}
@media screen and (max-width : 480px) {
  .user-cover-picture,
  .user-cover-picture-edit {
    width: auto;
    height: 230px;
  }
}
.user-cover-picture img,
.user-cover-picture-edit img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.user-cover-picture-edit {
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.user-cover-picture-edit:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  cursor: pointer;
}
.user-cover-picture-edit img {
  width: auto;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.user-cover-picture-edit input[type=file] {
  width: 100%;
  height: 375px;
  position: absolute;
  top: 0px;
  bottom: initial;
  left: 0px;
  right: initial;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.user-cover-picture-edit .change-picture {
  position: absolute;
  top: 75px;
  bottom: initial;
  left: 325px;
  right: initial;
}
.user-profile-picture-edit {
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}
.user-profile-picture-edit:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.user-profile-picture-edit img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0px;
  bottom: initial;
  left: 0px;
  right: initial;
}
.user-profile-picture-edit input[type=file] {
  z-index: 999;
  line-height: 0;
  font-size: 50px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  cursor: pointer;
  _cursor: hand;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  bottom: initial;
  left: 0px;
  right: initial;
  width: 120px;
  height: 120px;
}
.user-profile-picture-edit .change-picture {
  position: absolute;
  top: 75px;
  bottom: initial;
  left: 325px;
  right: initial;
}
.edit-user-text {
  color: #db282f;
  cursor: pointer;
}
.cover {
  position: relative;
}
@media screen and (max-width : 768px) {
  .cover {
    padding: 0;
  }
}
.cover .edit-user {
  position: absolute;
  top: 10px;
  bottom: initial;
  left: initial;
  right: 30px;
}
form .edit-user {
  position: absolute;
  top: 10px;
  bottom: initial;
  left: initial;
  right: 30px;
}
.save-pictures,
.edit-pictures {
  position: relative;
  z-index: 1000;
  top: 7px;
  right: -15px;
}
.opacity-enter {
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
.opacity-leave {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.mobile-menu-button {
  display: none;
  background: url("../../img/icons/mobile-menu.png") center center no-repeat;
  width: 32px;
  height: 32px;
  float: right;
  margin-top: 10px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width : 768px) {
  .mobile-menu-button {
    display: inline-block;
  }
}
@media screen and (max-width : 992px) {
  .ceo-speak {
    padding-left: 0px;
    margin: 20px 0px;
  }
}
@media screen and (max-width : 992px) {
  .hr-corner {
    padding-right: 0px;
    margin: 20px 0px;
  }
}
.form-signin .left-inner-addon {
  position: relative;
  margin: 30px 0px;
}
.form-signin .left-inner-addon .glyphicon {
  padding: 0;
  position: absolute;
  top: 10px;
  bottom: initial;
  left: 10px;
  right: initial;
}
.contact-information > span,
.contact-information > label {
  margin: 10px 0px;
  display: inline-block;
}
@media screen and (max-width : 992px) {
  .contact-information > span,
  .contact-information > label {
    width: 340px;
  }
}
@media screen and (max-width : 768px) {
  .contact-information > span,
  .contact-information > label {
    width: auto;
    height: 36px;
    line-height: 36px;
  }
}
@media screen and (max-width : 480px) {
  .contact-information > span,
  .contact-information > label {
    float: none;
    text-align: center;
    margin: 0;
  }
}
@media screen and (max-width : 768px) {
  .contact-information > span {
    width: 350px;
  }
}
@media screen and (max-width : 560px) {
  .contact-information > span {
    width: 280px;
  }
}
@media screen and (max-width : 480px) {
  .contact-information > span {
    width: 100%;
    padding: 0px;
  }
}
@media screen and (max-width : 768px) {
  .contact-information > label {
    width: 130px;
    font-size: 13px;
  }
}
@media screen and (max-width : 480px) {
  .contact-information > label {
    width: 100%;
    padding: 0px;
  }
}
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.red {
  color: #f00;
}
.statictoolbar {
  position: fixed;
  top: 12px;
}
#comment {
  overflow: hidden;
}
#comment:hover {
  overflow: auto;
}
.banner-image {
  padding-left: 0px;
}
.banner-image img {
  width: 100%;
}
.title {
  font-weight: bold;
}
.row .events {
  position: relative;
  border: 2px solid #da2129;
  margin: 30px 0px;
}
.row .events a {
  position: absolute;
}
.row .events a.event-logo {
  background: url("../../img/sprites/cactus-intranet-icon-sprite.png");
  background-position: -69px -397px;
  height: 64px;
  width: 64px;
  left: 46%;
  top: -32px;
}
.row .events a.prev {
  background: url("../../img/sprites/cactus-intranet-icon-sprite.png");
  background-position: -12px -413px;
  height: 32px;
  width: 32px;
  left: 25%;
  top: -16px;
}
.row .events a.next {
  background: url("../../img/sprites/cactus-intranet-icon-sprite.png");
  background-position: -156px -413px;
  height: 32px;
  width: 32px;
  left: 75%;
  top: -16px;
}
.row .events .col-md-4 {
  text-align: center;
  padding: 0;
}
.row .events .calender {
  width: 60%;
  float: left;
  margin-top: 50px;
  border: 2px solid #da2129;
  display: table;
  margin-bottom: 20px;
}
.row .events .calender span {
  width: 100%;
  display: inline-block;
  float: left;
}
.row .events .calender .calender-month {
  background-color: #c9092e;
  color: #fff;
}
.row .events .calender .calender-date {
  font-weight: bolder;
  font-size: 200%;
  border-bottom: 1px solid #b3b1b1;
}
.row .events .calender .calender-day {
  color: #b3b1b1;
}
.row .events .calender-time {
  color: #da2129;
  clear: both;
  float: left;
  padding: 0;
  margin-top: 15px;
}
.row .events .col-md-8 {
  margin-top: 50px;
  padding: 0;
}
.row .hr-corner.col-md-6,
.ceo-speak.col-md-6 {
  padding: 0;
}
.row .hr-corner img,
.ceo-speak img {
  width: 100%;
  height: auto;
}
.banner-region-right {
  padding-left: 0px;
}
.banner-region-right .row {
  margin: 0px;
}
.banner-region-right .row.right-top-row {
  margin-bottom: 22px;
}
.navbar-nav>li:last-child {
  float: right;
  text-align: right;
  padding-right: 5px;
}
.header-banner .carousel-indicators {
  margin: 0px;
  width: auto;
  position: absolute;
  top: initial;
  bottom: 10px;
  left: initial;
  right: 20px;
}
.header-banner .carousel-indicators li {
  width: 12px;
  height: 12px;
  padding: 0px 10px;
  margin: 0px 5px;
}
.header-banner .carousel-control {
  width: auto;
  display: none;
}
.header-banner .carousel-control .icon-next {
  background: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
}
.header-banner .carousel-control .icon-next:before {
  position: relative;
  top: -8px;
  left: 2px;
}
.header-banner .carousel-control.right {
  right: -13px;
}
.header-banner .carousel-control .icon-prev {
  background: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
}
.header-banner .carousel-control .icon-prev:before {
  position: relative;
  top: -8px;
  right: 2px;
}
.logo-bar .logo {
  float: left;
}
.logo-bar .search {
  float: right;
}
.branding-region {
  margin-bottom: 7px;
  margin-top: 15px;
}
.branding-region .search {
  margin-top: 5px;
  position: relative;
}
.branding-region .search input {
  border: 2px solid #da2129;
  padding: 10px 35px 10px 10px;
  font-size: 16px;
  width: 100%;
  color: #999;
  outline: none;
}
.branding-region .search .glyphicon-search {
  position: absolute;
  top: 12px;
  bottom: initial;
  left: initial;
  right: 22px;
  font-size: 20px;
  color: #999;
}
.nopadding {
  padding: 0;
}
.noleftpadding {
  padding-left: 0;
}
.norightpadding {
  padding-right: 0;
}
.top-full-stack {
  display: inline-block;
  width: 100%;
  height: auto;
}
.left-grid-stack {
  clear: both;
}
.right-grid-stack {
  display: table;
}
.rounded-bullet {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  background: #ffc0cb;
}
.rounded-bullet.General {
  background: #008000;
}
.rounded-bullet.HR {
  background: #00f;
}
.rounded-bullet.Personal {
  background: #ff0;
}
.rounded-bullet.Achievements {
  background: #a52a2a;
}
.expanded #comment {
  height: 70px;
}
.load-more-comment a {
  text-decoration: underline;
  cursor: pointer;
}
.create-an-article .form-group {
  margin: 20px 0px;
}
.create-an-article .form-control.height-auto {
  height: auto;
}
.create-an-article .decipher-tags {
  margin: 0px;
  border: 0;
  padding: 0;
}
.create-an-article .decipher-tags .container-fluid {
  padding: 0;
  display: inline-block;
}
.create-an-article .content-inner {
  padding: 10px;
  background: #fbfbfb;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.create-an-article .submit-button {
  background: #fbfbfb;
}
.create-an-article #taTextElement {
  margin-top: 10px;
}
.recent-article-title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: initial;
  color: #db282f;
  padding: 3px 5px 10px 40px;
  background: #fff url("../../img/articles/mg-glass.png") 2px 0px no-repeat;
}
.post-article-listing .article-wrapper {
  margin: 10px 0px;
  padding: 0px 0px 0px 100px;
  width: 75%;
  background: #e1e1e1 url("../../img/icons/document-black.png") 30px 50% no-repeat;
  background-size: 30px;
}
.post-article-listing .article-wrapper .article-content-main {
  background: #f2f2f2;
  padding-left: 10px;
}
.post-article-listing .article-wrapper .read-more {
  display: block;
  background: #f2f2f2;
  padding-left: 10px;
}
.post-article-listing .article-wrapper .read-more a {
  font-size: 13px;
  color: #db282f;
  text-decoration: none;
}
.post-article-listing .article-title {
  padding: 10px 0px 10px 10px;
  color: #db282f;
  background: #f2f2f2;
  margin: 0;
}
.post-article-listing .article-title a {
  color: #444;
  text-decoration: none;
}
.post-article-listing .article-title a:hover {
  color: #db282f;
}
.post-article-listing .article-title a.link {
  color: #db282f;
}
.post-article-listing .date-created,
.post-article-listing .author-created {
  color: #999;
  font-style: italic;
}
.article-listing {
  padding-top: 20px;
}
.article-listing .well {
  padding: 0;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.article-listing .articles {
  padding-top: 20px;
}
.article-listing .article-info-container .date-image {
  width: 80px;
  float: left;
  padding-right: 20px;
}
.article-listing .article-info-container .date-image img {
  width: 100%;
  height: auto;
}
.article-listing .article-info-container .date-image .date-created {
  background: #db282f;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 4px;
}
.article-listing .article-info-container .date-image .date-created .field-content-p1 {
  font-size: 15px;
}
.article-listing .article-info-container .date-image .date-created .field-content-p2 {
  font-size: 12px;
}
.article-listing .article-info-container .title-container {
  margin-left: 80px;
  padding: 15px 0;
  min-height: 118px;
}
.article-listing .article-info-container .title-container h2 {
  margin-top: 0;
  font-size: 20px;
  color: #db282f;
  font-weight: 100;
  text-decoration: none;
}
.article-listing .article-info-container .title-container h2 a {
  color: #db282f;
  font-weight: 100;
}
.article-listing .article-info-container .title-container h2:hover {
  text-decoration: none;
}
.article-listing .article-info-container .title-container .tags-container span {
  color: #428bca;
  display: inline-block;
  padding: 0 5px;
}
.article-listing .article-content-container {
  clear: both;
  padding: 15px;
  border-top: 1px solid #e3e3e3;
}
.article-listing .article-content-container a {
  color: #db282f;
  font-weight: 100;
}
.article-detail .recent-article-title {
  padding: 12px 5px 12px 40px;
  background: #fff url("../../img/articles/articles-icon.png") 2px 0px no-repeat;
}
.article-detail .articles {
  padding-top: 0;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.article-detail .article-content {
  clear: both;
  border-top: 1px solid #ccc;
  padding: 15px;
}
.article-detail .post-like {
  padding: 15px;
}
.article-detail .article-comment {
  margin: 15px;
  padding: 10px;
  border: 1px solid #ccc;
}
.article-detail .article-comment .comment-author a {
  text-transform: capitalize;
}
.article-detail .article-comment .comment {
  clear: both;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  min-height: 70px;
}
.article-detail .article-comment .form-horizontal {
  clear: both;
  margin: 5px 0;
  padding: 10px 0;
  min-height: 70px;
}
.article-detail .article-comment .post-image {
  width: 50px;
  float: left;
  margin-right: 20px;
}
.article-detail .article-comment .post-image img {
  width: 100%;
  height: auto;
}
.group-landing a {
  text-decoration: none;
  color: #000;
}
.group-landing.left-side .groups-detail {
  background-color: #787878;
  padding: 15px;
  color: #aba9a6;
  font-size: 90%;
}
@media screen and (max-width : 1200px) {
  .group-landing.left-side .groups-detail {
    padding: 10px;
  }
}
.group-landing.left-side .groups-detail .title {
  color: #fff;
  font-weight: bold;
  font-size: 100%;
}
@media screen and (max-width : 992px) {
  .group-landing.left-side .groups-detail .title {
    font-size: 150%;
  }
}
.group-landing.left-side .groups-detail .group-admin,
.group-landing.left-side .groups-detail .group-about {
  margin-bottom: 10px;
}
@media screen and (max-width : 1200px) {
  .group-landing.left-side .groups-detail .group-admin,
  .group-landing.left-side .groups-detail .group-about {
    text-align: center;
  }
}
@media screen and (max-width : 992px) {
  .group-landing.left-side .groups-detail .group-admin,
  .group-landing.left-side .groups-detail .group-about {
    text-align: center;
    margin-bottom: 15px;
  }
}
@media screen and (max-width : 1200px) {
  .group-landing.left-side .groups-detail .group-admin span,
  .group-landing.left-side .groups-detail .group-admin label {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .group-landing.left-side .groups-detail .group-admin .admin {
    padding: 4px 0px;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width : 992px) {
  .group-landing.left-side .groups-detail .group-admin span {
    width: 50%;
    text-align: left;
  }
  .group-landing.left-side .groups-detail .group-admin label {
    width: 50%;
    text-align: right;
  }
}
@media screen and (max-width : 768px) {
  .group-landing.left-side .groups-detail .group-admin span,
  .group-landing.left-side .groups-detail .group-admin label {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .group-landing.left-side .groups-detail .group-admin .admin {
    padding: 4px 0px;
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width : 1200px) {
  .group-landing.left-side .groups-detail .group-member {
    text-align: center;
  }
}
.group-landing.left-side .groups-detail .group-image {
  min-height: 140px;
  max-height: 200px;
  position: relative;
  margin: 5px auto 10px auto;
  display: table;
}
.group-landing.left-side .groups-detail .group-image .image-wrapper {
  display: table-cell;
  vertical-align: middle;
  background: #ccc;
  -webkit-box-shadow: 0px 0px 2px #fff;
  -moz-box-shadow: 0px 0px 2px #fff;
  -ms-box-shadow: 0px 0px 2px #fff;
  -o-box-shadow: 0px 0px 2px #fff;
  box-shadow: 0px 0px 2px #fff;
  text-align: center;
}
@media screen and (max-width : 992px) {
  .group-landing.left-side .groups-detail .group-image .image-wrapper {
    min-width: 200px;
  }
}
.group-landing.left-side .groups-detail .group-image .image-wrapper img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 200px;
}
.group-landing.left-side .groups-detail .group-meta {
  width: 100%;
  position: absolute;
  top: 20%;
  bottom: initial;
  left: 0px;
  right: initial;
}
.group-landing.left-side .groups-detail .group-meta .group-meta-inner {
  background-color: rgba(242,242,242,0.7);
  text-align: center;
  padding: 5px;
  width: 100%;
  max-width: 180px;
  margin: 0px auto;
}
@media screen and (max-width : 1200px) {
  .group-landing.left-side .groups-detail .group-meta .group-meta-inner {
    width: 130px;
  }
}
@media screen and (max-width : 992px) {
  .group-landing.left-side .groups-detail .group-meta .group-meta-inner {
    width: 200px;
  }
}
.group-landing.left-side .groups-detail .group-meta .group-name {
  font-size: 150%;
  font-weight: bold;
  color: #000;
}
.group-landing.left-side .groups-detail .group-meta .group-type {
  font-size: 80%;
  font-weight: bold;
  color: #000;
}
.group-landing.left-side .groups-detail .group-meta .group-member {
  font-size: 70%;
}
.group-landing.left-side .groups-detail .col-md-3 {
  width: 25%;
  float: left;
  clear: both;
  padding-left: 0px;
  display: inline-block;
}
.group-landing.left-side .groups-detail .col-md-9 {
  width: 75%;
  float: left;
  display: inline-block;
  color: #fff;
}
.group-landing.left-side .groups-detail .group-created {
  clear: both;
}
.group-landing.left-side .groups-detail .group-member-icon {
  padding-bottom: 15px;
}
.group-landing.left-side .groups-detail .group-member-icon a {
  padding: 0px;
  margin: 0px;
}
.group-landing.left-side .groups-detail .group-member-icon img {
  height: 52px;
  width: 52px;
}
.group-landing.left-side .groups-detail a {
  display: inline-block;
  background-color: #80c963;
  padding: 5px 20px;
  margin: 5px;
}
.group-landing.left-side .create-a-group {
  text-align: center;
  margin: 40px 0px;
}
.group-landing.left-side .create-a-group a {
  display: inline-block;
  padding: 20px 25px;
  text-transform: uppercase;
  border: 1px solid #787878;
  color: #787878;
  font-size: 12px;
}
.group-landing.main-content .group-category ul {
  margin: 10px 0px;
  padding: 0;
  border-bottom: 2px solid #da2129;
}
.group-landing.main-content .group-category ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
}
@media screen and (max-width : 480px) {
  .group-landing.main-content .group-category ul li {
    padding: 5px 3px;
  }
}
.group-landing.main-content .group-category ul li:first-child {
  padding-left: 0px;
}
.group-landing.main-content .group-category ul li a {
  color: #999;
  cursor: pointer;
}
.group-landing.main-content .group-category ul li a.active {
  color: #da2129;
}
.group-landing.main-content .groups-listing {
  display: inline;
  margin: 0;
  padding: 0;
}
.group-landing.main-content .group-items {
  width: 23%;
  float: left;
  font-size: 16px;
  list-style: none;
  margin-right: 2.6666666666666665%;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  background-color: #fbfbfb;
  cursor: pointer;
}
@media screen and (max-width : 1200px) {
  .group-landing.main-content .group-items {
    width: 32%;
    margin-right: 2%;
  }
}
@media screen and (max-width : 768px) {
  .group-landing.main-content .group-items {
    width: 48%;
    margin-right: 4%;
  }
}
@media screen and (max-width : 480px) {
  .group-landing.main-content .group-items {
    width: 100%;
  }
}
.group-landing.main-content .group-items:nth-child(4n) {
  margin-right: 0px;
}
@media screen and (max-width : 1200px) {
  .group-landing.main-content .group-items:nth-child(4n) {
    margin-right: 2%;
  }
}
@media screen and (max-width : 768px) {
  .group-landing.main-content .group-items:nth-child(4n) {
    margin-right: 4%;
  }
}
@media screen and (max-width : 480px) {
  .group-landing.main-content .group-items:nth-child(4n) {
    margin-right: 0px;
  }
}
@media screen and (max-width : 1200px) {
  .group-landing.main-content .group-items:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (max-width : 768px) {
  .group-landing.main-content .group-items:nth-child(3n) {
    margin-right: 4%;
  }
}
@media screen and (max-width : 480px) {
  .group-landing.main-content .group-items:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (max-width : 768px) {
  .group-landing.main-content .group-items:nth-child(2n) {
    margin-right: 0px;
  }
}
.group-landing.main-content .group-items .group-item-inner {
  display: inline-block;
  width: 100%;
  padding: 10px 10px 15px 10px;
}
.group-landing.main-content .group-items.selected .group-item-inner {
  border: 2px solid #da2129;
  height: 205px;
}
.group-landing.main-content .group-items img {
  height: auto;
  max-height: 120px;
  width: auto;
  max-width: 100%;
}
.group-landing.main-content .group-items .group-name {
  margin: 7px 0px 15px 0px;
  text-align: center;
  line-height: 1;
}
.group-landing.main-content .group-items .group-name a {
  color: #414141;
}
.group-landing.main-content .group-items .group-image {
  height: 120px;
  display: table;
  width: 100%;
  overflow: hidden;
  background: #fff url("../../img/icons/image-bg.gif");
}
.group-landing.main-content .group-items .group-image > a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.group-landing.main-content .group-items .group-member {
  float: left;
  margin-left: 10px;
  padding-left: 22px;
  background: url("../../img/icons/groups-grey.png") top left no-repeat;
  background-size: 18px;
  color: #b8b2b2;
}
.group-cover-image img {
  width: 100%;
  height: auto;
  max-height: 310px;
}
.post-like a,
.comment-like a {
  color: #b0aeaf;
  text-decoration: none;
}
.post-like a.btn,
.comment-like a.btn {
  padding: 0;
}
.post-like a.btn i,
.comment-like a.btn i {
  height: 21px;
  width: 21px;
}
.group-detail-banner {
  position: relative;
}
.group-detail-banner .group-banner-overlay {
  position: absolute;
  top: initial;
  bottom: 50px;
  left: 0px;
  right: initial;
  text-align: center;
  width: 100%;
  height: auto;
}
@media screen and (max-width : 480px) {
  .group-detail-banner .group-banner-overlay {
    position: absolute;
    top: initial;
    bottom: 10px;
    left: 0px;
    right: initial;
  }
}
.group-detail-banner .group-banner-overlay .group-banner-overlay-inner {
  background: rgba(255,255,255,0.8);
  display: inline-block;
  padding: 10px 15px;
  width: 310px;
  text-align: center;
}
@media screen and (max-width : 480px) {
  .group-detail-banner .group-banner-overlay .group-banner-overlay-inner {
    width: 200px;
    padding: 5px 10px;
  }
}
.group-detail-banner .group-banner-overlay .group-name h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width : 480px) {
  .group-detail-banner .group-banner-overlay .group-name h3 {
    font-size: 1.2;
  }
}
.group-detail-banner .group-banner-overlay .group-member-count {
  color: #858383;
}
@media screen and (max-width : 480px) {
  .group-detail-banner .group-banner-overlay .group-member-count {
    font-size: 0.8em;
  }
}
.group-detail-banner .group-banner-overlay .joining-group a {
  background: #7fca63;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 10px 5px;
  width: 150px;
  margin: 5px 0px;
  border: 1px solid #6eb152;
}
.group-detail-banner .group-banner-overlay .joining-group a mob-down {
  font-size: 0.8em;
  width: 100px;
}
.group-left-item-containers {
  display: inline-block;
  width: 100%;
}
.group-member ul {
  padding: 0;
}
.group-member ul li {
  list-style: none;
  float: left;
  width: 40px;
  height: 40px;
}
.group-member ul li img {
  width: 100%;
  height: auto;
}
.add-groups .checkbox {
  padding: 0;
}
.add-groups .checkbox label {
  display: block;
  font-weight: bold;
}
.add-groups .checkbox input {
  margin-right: 10px;
}
.add-groups input[type=submit] {
  margin: 10px 0px 0px -15px;
}
.contact-information {
  clear: both;
  margin-top: 30px;
}
.contact-information a {
  color: #db282f;
}
.contact-information label {
  float: left;
  clear: both;
  color: #bcbcbc;
  padding-left: 0px;
  font-weight: normal;
}
.contact-information span {
  color: #db282f;
}
.contact-information .sub-heading {
  text-transform: uppercase;
}
.joining-date {
  clear: both;
  padding-left: 0px;
  color: #bcbcbc;
}
.not-logged-in {
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.navbar-default {
  margin-bottom: 0;
}
.navbar-default .left-header {
  min-height: 50px;
}
.not-logged-in .login-box {
  margin: auto;
  height: 100%;
  background: #fff;
}
.not-logged-in .footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.not-logged-in .tooltip-inner {
  max-width: 250px;
}
.not-logged-in .content-wrapper {
  overflow: hidden;
  height: 100%;
  background: url("../../img/login/smiley-collage.png") repeat;
}
@media screen and (max-width : 992px) {
  .not-logged-in .content-wrapper {
    background: none;
  }
}
.not-logged-in .content-wrapper .container.content:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -36.666666%;
  background-color: #fff;
}
.not-logged-in .content-wrapper .col-md-8 {
  padding-left: 0;
  padding-right: 0;
}
.not-logged-in .content-wrapper .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.not-logged-in .login-box .form-signin {
  max-width: 332px;
  margin: 0 auto;
}
.not-logged-in .login-box .form-signin .form-signin-heading {
  background: url("../../img/login/cactus-intranet.png") no-repeat;
  height: 75px;
  width: 346px;
}
.not-logged-in .login-box .form-signin .left-inner-addon {
  width: 80%;
  margin: 30px auto;
}
.not-logged-in .login-box .form-signin .forgot-your-password {
  float: left;
}
.not-logged-in .login-box .form-signin .forgot-your-password a {
  color: #bcbcbc;
}
#signin {
  float: right;
  background-color: #bcbcbc;
  border-color: #ccc;
  margin-right: 30px;
}
.not-logged-in .form-signin .left-inner-addon .glyphicon {
  padding: 9.5px;
  position: absolute;
  border-right: 1px solid #ccc;
  top: 0;
  left: 0;
}
.not-logged-in .left-inner-addon input {
  padding-left: 38px;
}
.admin-tabs {
  padding-top: 20px;
}
.admin-tabs .tab-content {
  padding-top: 20px;
}
input.banner-picture {
  float: left;
}
.upload-banner-image {
  margin-top: 20px;
  margin-bottom: 20px;
}
.upload-banner-image input {
  margin-left: 20px;
}
.banner-list {
  font-size: 16px;
  list-style: none;
  margin-right: 2.6666666666666665%;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 5px 15px 5px;
  border: 1px solid #e8e8e8;
  background-color: #fbfbfb;
}
.banner-list a {
  display: block;
}
.banner-list img {
  display: block;
  width: 745px;
  height: 126px;
  -webkit-box-shadow: -1px 1px 1px 1px #ddd;
  -moz-box-shadow: -1px 1px 1px 1px #ddd;
  -ms-box-shadow: -1px 1px 1px 1px #ddd;
  -o-box-shadow: -1px 1px 1px 1px #ddd;
  box-shadow: -1px 1px 1px 1px #ddd;
  margin: 15px;
  margin-left: 0px;
}
.change-banner-link {
  display: inline-block;
  margin-top: 40px;
  color: #db282f;
}
.section-management {
  padding-left: 20px;
}
@font-face {
  font-family: 'Bubble Sharp';
  src: url("/fonts/bubble_sharp.eot?") format('eot'), url("/fonts/bubble_sharp.woff") format('woff'), url("/fonts/bubble_sharp.ttf") format('truetype');
}
.jumbled-words {
  display: inline-block;
}
.small-box,
.big-box {
  background: #fff;
  display: inline-block;
  color: #f2f2f2;
  font-size: 28px;
  text-align: center;
  border: 2px solid;
  min-width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  margin: 3px;
}
.big-box {
  height: 38px;
  background: #f2f2f2;
  border: 2px solid #ccc;
  margin-top: 10px;
  margin-bottom: 0px;
}
.ui-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("/img/icons/cross.png") 50% 50% no-repeat;
  background-size: 70% 70%;
  font-size: 0px;
  font-size: 0px;
  color: transparent;
  cursor: pointer;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#container {
  height: 44px;
  text-align: left;
}
.check {
  padding-left: 2px;
  margin: 20px 0px 5px 30px;
}
.big-box .small-box {
  float: left;
border
}
.white-box {
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid #d3d3d3;
  text-align: center;
  position: relative;
  float: left;
  margin: 5px 10px 0px 0px;
  font-size: 12px;
}
.white-box label {
  margin: 3px 0px 0px;
}
.white-box .count {
  font-size: 24px;
  width: 100%;
  height: 36px;
  line-height: 1em;
}
.scrabble-message {
  line-height: 1em;
  margin-bottom: 10px;
  font-size: 12px;
}
#scrabble-logo {
  width: 100px;
  height: 50px;
  background: url("/img/icons/SCRABBLE.png") top left no-repeat;
  position: absolute;
  top: -31px;
  left: 10px;
}
.blurred {
  -webkit-filter: blur(4px);
}
.scrabble-wrapper {
  display: block;
  height: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  border: 1px solid #db282f;
  background: #fbfbfb;
  padding: 20px 0px;
  position: relative;
  margin-bottom: 20px;
}
.scrabble-wrapper .wrapper,
.top-portion-scrabble {
  display: inline-block;
  width: 100%;
}
.scrabble-wrapper .wrapper {
  text-align: center;
}
#header {
  text-align: center;
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#header:after {
  content: "";
  background: #fff;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#header.bad:after,
#header.good:after {
  opacity: 0.9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  z-index: 10;
}
#footer-scrabble {
  display: inline-block;
  text-align: center;
  position: relative;
}
.button {
  cursor: pointer;
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 12px;
  color: #db282f;
  margin-left: 30px;
  position: relative;
  z-index: 1;
}
.button.result {
  background: #ededed;
  padding: 10px;
  display: inline-block;
  margin-left: 20px;
}
.clock-wrapper {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  top: 20px;
  left: 50px;
}
.clock {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("/img/sand_clock.png") top left no-repeat;
  background-size: contain;
}
.top-part {
  position: absolute;
  width: 100%;
  -webkit-transition: all 10s linear;
  -moz-transition: all 10s linear;
  -o-transition: all 10s linear;
  -webkit-transition: all 10s linear;
  -moz-transition: all 10s linear;
  -ms-transition: all 10s linear;
  -o-transition: all 10s linear;
  transition: all 10s linear;
}
.bottom-part {
  position: absolute;
  width: 100%;
  -webkit-transition: all 10s;
  -moz-transition: all 10s;
  -o-transition: all 10s;
  -webkit-transition: all 10s;
  -moz-transition: all 10s;
  -ms-transition: all 10s;
  -o-transition: all 10s;
  transition: all 10s;
}
.top-part {
  bottom: 60px;
  left: 4px;
  background: url("/img/icons/sand_clock_top.png") bottom left no-repeat;
  background-size: 120px;
  height: 38%;
}
.bottom-part {
  bottom: 11px;
  left: 0px;
  background: url("/img/icons/sand_clock_bottom.png") top left no-repeat;
  background-size: 120px;
  height: 0%;
}
.top-part.animate {
  height: 0%;
}
.bottom-part.animate {
  height: 38%;
}
.counter {
  border: 2px solid #000;
  padding: 5px 10px;
  font-size: 34px;
  text-align: center;
}
.scrabble-wrapper .small-box {
  background: #db282f;
  color: #fff;
  border: 0;
  width: 28px;
  height: 28px;
  font-size: 20px;
  float: left;
}
.div-1,
.div-2 {
  float: left;
  width: 50%;
  height: 70px;
  display: inline-block;
  text-align: left;
}
.status-message {
  font-size: 32px;
}
.green {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #008000;
  background: rgba(192,255,192,0.61);
  z-index: 10;
  padding: 85px 10px;
}
.red {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #f00;
  background: rgba(255,192,203,0.61);
  z-index: 10;
  padding: 85px 10px;
}
.div-2 {
  display: none;
}
