.not-logged-in
  position:relative
  height:100%
  max-height: 100%
  overflow: hidden
	.navbar-default
		margin-bottom: 0
		.left-header
			min-height: 50px
.not-logged-in
	.login-box
		margin: auto
		height: 100%
		background: #fff
.not-logged-in
	.footer-wrapper
		position: absolute
		bottom: 0
		width: 100%

.not-logged-in
	.tooltip-inner
		max-width: 250px
	.content-wrapper
		overflow:hidden
		height: 100%
		background: url(../../img/login/smiley-collage.png) repeat
		@media $desk-down
			background: none
		.container.content
			&:before
				content: ""
				width: 100%
				height: 100%
				position: absolute
				left: -36.666666%
				background-color: #fff
		.col-md-8
			padding-left: 0
			padding-right: 0
		.col-md-4
			padding-left: 0
			padding-right: 0
	.login-box
		.form-signin
			max-width:332px
			margin: 0 auto
			.form-signin-heading
				background: url(../../img/login/cactus-intranet.png) no-repeat
				height: 75px
				width: 346px
			.left-inner-addon
				width: 80%
				margin: 30px auto
			.forgot-your-password
				float: left;
				a
					color: $grey

#signin
	float: right;
	background-color: $grey
	border-color: $grey-border
	margin-right: 30px
.not-logged-in
	.form-signin .left-inner-addon .glyphicon 
		padding: 9.5px
		position: absolute
		border-right: 1px solid #ccc
		top: 0
		left: 0
	.left-inner-addon 
		input 
			padding-left: 38px;


