@font-face
  font-family: 'Bubble Sharp'
  src: url('/fonts/bubble_sharp.eot?') format('eot'), url('/fonts/bubble_sharp.woff') format('woff'), url('/fonts/bubble_sharp.ttf') format('truetype')


.jumbled-words
  display: inline-block

.small-box,
.big-box
  background: $white
  display: inline-block
  color : $comment-grey-bg 
  font-size: 28px
  text-align: center
  border : 2px solid
  min-width  : 32px
  height: 32px
  cursor: pointer
  position: relative
  margin: 3px


.big-box
  height: 38px
  background: $comment-grey-bg 
  border: 2px solid $grey-border
  margin-top: 10px
  margin-bottom: 0px

.ui-icon
  display: inline-block
  width : 10px
  height: 10px
  background: url(/img/icons/cross.png) 50% 50% no-repeat
  background-size: 70%  70%
  font-size: 0px
  font-size: 0px
  color: transparent
  cursor: pointer
  position: absolute
  right: 0px
  bottom: 0px

#container
  height: 44px
  text-align: left

.check
  padding-left: 2px
  margin: 20px 0px 5px 30px

.big-box .small-box
  float: left
  border

.white-box
  width: 50px
  height: 50px
  background: white
  border: 1px solid #d3d3d3
  text-align: center
  position: relative
  float: left
  margin: 5px 10px 0px 0px
  font-size: 12px

.white-box label
  margin: 3px 0px 0px


.white-box .count
  font-size: 24px
  width: 100%
  height: 36px
  line-height: 1em

.scrabble-message
  line-height: 1em
  margin-bottom: 10px
  font-size: 12px

#scrabble-logo
  width: 100px;
  height: 50px;
  background: url("/img/icons/SCRABBLE.png") top left no-repeat;
  position: absolute;
  top: -31px;
  left: 10px;
.blurred
  -webkit-filter : blur(4px)


.scrabble-wrapper
  display: block
  height: 100%
  margin: 0 auto
  font-family: Arial , sans-serif
  border: 1px solid $red
  background: $whitish-grey
  padding: 20px 0px
  position: relative
  margin-bottom: 20px

.scrabble-wrapper .wrapper,
.top-portion-scrabble
  display: inline-block
  width: 100%

.scrabble-wrapper .wrapper
  text-align: center

#header
  text-align: center
  position: relative
  z-index: 0
  -webkit-transition : all 0.3s linear
  -moz-transition : all 0.3s linear
  -o-transition : all 0.3s linear
  transition : all 0.3s linear

#header:after
  content: ""
  background: $white
  opacity: 0
  position: absolute
  top:  0px
  left: 0px
  width: 100%
  height: 100%
  z-index: -1

#header.bad:after,
#header.good:after
  opacity: 0.9
  z-index: 10

#footer-scrabble
  display: inline-block
  text-align: center
  position: relative

.button
  cursor: pointer
  display: block
  font-weight: bold
  color:  white
  font-size: 12px
  color : $red
  margin-left: 30px
  position: relative
  z-index: 1
  &.result
    background : $posts-grey-border
    padding : 10px
    display : inline-block
    margin-left : 20px

.clock-wrapper
  position: absolute
  width: 120px
  height: 120px
  border : 1px solid $black
  top :20px
  left: 50px

.clock
  position: relative
  width: 100%
  height: 100%
  background: url(/img/sand_clock.png) top left no-repeat
  background-size: contain

.top-part
  position: absolute
  width:100%
  -webkit-transition : all 10s linear
  -moz-transition : all 10s linear
  -o-transition : all 10s linear
  transition : all 10s linear

.bottom-part
  position: absolute
  width:100%
  -webkit-transition : all 10s
  -moz-transition : all 10s
  -o-transition : all 10s
  transition : all 10s

.top-part
  bottom : 60px
  left:4px
  background: url(/img/icons/sand_clock_top.png) bottom left no-repeat
  background-size: 120px
  height: 38%

.bottom-part
  bottom : 11px
  left: 0px
  background: url(/img/icons/sand_clock_bottom.png) top left no-repeat
  background-size: 120px
  height: 0%

.top-part.animate
  height :0%

.bottom-part.animate
  height :38%

.counter
  border: 2px solid $black
  padding : 5px 10px
  font-size: 34px
  text-align: center

.scrabble-wrapper .small-box
  background: $red
  color : white
  border: 0
  width: 28px
  height: 28px
  font-size: 20px
  float: left

.div-1,.div-2
  float: left
  width: 50%
  height: 70px
  display: inline-block
  text-align: left

.status-message
  font-size: 32px

.green
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  color : green
  background: rgba(192, 255, 192, 0.61)
  z-index: 10
  padding: 85px 10px

.red
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  color : red
  background: rgba(255, 192, 203, 0.61)
  z-index: 10
  padding: 85px 10px

.div-2
  display : none