.contact-information
  clear:both
  margin-top: 30px
  a
    color : $red
  label
    float:left
    clear:both
    color:$grey
    padding-left: 0px
    font-weight: normal
  span
    color: $red
  .sub-heading
    text-transform:uppercase

.joining-date
  clear:both
  padding-left: 0px
  color:$grey


