// Variables
$black = #000
$red = #db282f
$dark-red = #da2129
$red-border = #ea484e
$dark-magenta = #9f546b
$light-pink-bg = #f6eff1
$bright-red = #db282e
$whitish-grey = #fbfbfb
$white = #fff
$header-peach-color = #fffffd
$grey-message-color =  #fdfdfd
$grey-border = #ccc
$grey = #bcbcbc
$grey-bg = #444
$grey-header = #999
$posts-grey-border = #ededed
$white = #fff
$wall-post-sp-text = #858383
$comment-grey-bg = #f2f2f2
$group-landing-border = #e8e8e8
$group-member = #b8b2b2
$group-left-grey-text = #787878
$group-right-item-grey-text = #414141
$transparent = transparent
$green-bg = #7fca63
$green-border = #6eb152 
// breakpoints

$wide-down = 'screen and (max-width : 1200px)'
$desk-down = 'screen and (max-width : 992px)'
$tab-down = 'screen and (max-width : 768px)'
$mob-down = 'screen and (max-width : 480px)'

// Middle breakpoints
$tab-mob-down = 'screen and (max-width : 560px)'


$wide-up = 'screen and (min-width : 1200px)'
$desk-up = 'screen and (min-width : 992px)'
$tab-up = 'screen and (min-width : 768px)'
$mob-up = 'screen and (min-width : 480px)'

// Mixins


border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  -ms-border-radius n
  -o-border-radius n
  border-radius n

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	-ms-box-sizing arguments
	-o-box-sizing arguments
	box-sizing arguments

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

support-for-ie ?= true

opacity(n)
  opacity n
  if support-for-ie
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

absolute(top =intial, right =initial ,bottom = initial, left = initial )
	position : absolute
	top top
	bottom bottom
	left left
	right right

w-h(width = auto , height = auto)
	width width
	height height

.p20
	padding-bottom:20px
	
.nopadding
  padding : 0

.noleftpadding
  padding-left : 0

.norightpadding
  padding-right : 0

footer {
	left:0px;
	bottom:0px;
	height:auto;
	width:100%;
	background:#ddd;
	-webkit-box-shadow:0 8px 6px 6px black;
	-moz-box-shadow:0 8px 6px 6px black;
	box-shadow:0 8px 6px 6px black
}

footer p {
  padding:5px 0 12px 10px
}

html,
body,
.container {
  font-family: Trebuchet MS,sans-serif;
  font-size: 14px;
  height: 100%;
}
